---
layout: default
title: ReactJS Redux courses and on-site private training
description: ReactJS Redux courses and on-site private training. Intenisive course and small groups.
menu: home
bodyclass: white-navbar
---
<div class="section section-header-home white-bg">
  <div class="container jumbotron">
    <div class="row">
			<div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">
          Become a React developer in a week
        </h1>
        <div class="call-to-video text-center">
          <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
            data-mediabox="video1"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-6" style="color:#FC0D1B" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">

        <div class="call-to-action">
          <a href="/react-redux-graphql-bootcamp-lisbon" class="btn btn-info btn-default">See next bootcamp</a>
          <!-- <a href="/become-a-trainer" class="btn btn-default">Become a trainer</a> -->
        </div>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg section-logos">
	{% include logos-companies.html %}
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h2 class="text-center">Is your company interested in private on-site training?</h2>
        <p>
          <br><a href="mailto:hello@reactjs.academy?subject=Quote on-site private training" class="btn btn-info btn-lg">Quote private training</a>
        </p>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/img/reactjs-academy.jpg" style="border-radius:4px" class="img-responsive" />
      </div>
      <div class="col-md-6">
        <h2>ReactJS Academy is Europes longest running dedicated React and Redux training.</h2>
        <p>
          Established in <a href="https://www.meetup.com/JavaScript-London/events/230287691/" target="_blank">May 2016</a>, we've trained over 1000 developers across the EU in our private bootcamps and public workshops.
        </p>
        <p>
          <a href="/react-redux-graphql-bootcamp-lisbon" class="btn btn-info btn-lg btn-default">See next bootcamp</a>
        </p>
        <!--
        <p>
          You can read reviews of our workshops in the following Meetup groups which we organise:
        </p>
        <ul class="list-unstyled list-inline">
          <li>
            <a href="http://www.meetup.com/JavaScript-London/" target="_blank" class="btn btn-default">London</a>
          </li>
          <li>
            <a href="http://www.meetup.com/JavaScript-Berlin/" target="_blank" class="btn btn-default">Berlin</a>
          </li>
          <li>
            <a href="http://www.meetup.com/JavaScript-Paris/" target="_blank" class="btn btn-default">Paris</a>
          </li>
          <li>
            <a href="http://www.meetup.com/JavaScript-Barcelona/" target="_blank" class="btn btn-default">Barcelona</a>
          </li>
          <li>
            <a href="http://www.meetup.com/JavaScript-Amsterdam/" target="_blank" class="btn btn-default">Amsterdam</a>
          </li>
          <li>
            <a href="http://www.meetup.com/JavaScript-Lisbon/" target="_blank" class="btn btn-default">Lisbon</a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>

<!--
<div class="section grey-txt grey-bg">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
        <h2>
          Next React, Redux, GraphQL Courses
        </h2>
      </div>
    </div>
		<div class="row text-center other-locations">
			<div class="col-xs-6 col-md-3">
        <a href="/react-redux-training-london">
          <img class="img-circle img-responsive" src="/assets/img/london.jpg" alt="London" />
        </a>
        <h3>
          <a href="/react-redux-training-london">
          London
          </a>
          <a href="/react-redux-training-london" class="btn btn-default">Attend</a>
        </h3>
        <hr class="visible-xs visible-sm">
			</div>
      <div>
  			<div class="col-xs-6 col-md-3">
          <a href="/react-redux-training-berlin">
            <img class="img-circle img-responsive" src="/assets/img/berlin.jpg" alt="Berlin" />
          </a>
          <h3>
            <a href="/react-redux-training-berlin">
            Berlin
            </a>
            <a href="/react-redux-training-berlin" class="btn btn-default">Attend</a>
          </h3>
          <hr class="visible-xs visible-sm">
  			</div>
      </div>

			<div class="col-xs-6 col-md-3">
        <a href="/react-redux-training-amsterdam">
          <img class="img-circle img-responsive" src="/assets/img/amsterdam.jpg" alt="Amsterdam" />
        </a>
        <h3>
          <a href="/react-redux-training-amsterdam">
          Amsterdam
          </a>
          <a href="/react-redux-training-amsterdam" class="btn btn-default">Attend</a>
        </h3>
        <hr class="visible-xs visible-sm">
			</div>

			<div class="col-xs-6 col-md-3">
        <a href="/react-redux-training-brussels">
          <img class="img-circle img-responsive" src="/assets/img/brussels.jpg" alt="Brussels" />
        </a>
        <h3>
          <a href="/react-redux-training-brussels">
          Brussels
          </a>
          <a href="mailto:hello@reactjs.academy?subject=Next public bootcamps" class="btn btn-default">Attend</a>
        </h3>
			</div>
			<div class="col-xs-6 col-md-3">
        <a href="/react-redux-training">
          <img class="img-circle img-responsive" src="/assets/img/europe.jpg" alt="Europe" />
        </a>
        <h3>
          <a href="/react-redux-training">
          All locations &#xbb;
          </a>
        </h3>
			</div>
			<div class="col-xs-6 col-md-3">
        <a href="/react-redux-training-brussels">
          <img class="img-circle img-responsive" src="/assets/img/brussels.jpg" alt="Brussels" />
        </a>
        <h3>
          <a href="/react-redux-training-brussels">
          Brussels
          </a>
          <a href="/react-redux-training-brussels" class="btn btn-default">Attend</a>
        </h3>
        <hr class="visible-xs visible-sm">
			</div>
    </div>
	</div>
</div> -->


{% include tweets.html %}


<div class="section blue-bg">
	{% include why-attend-bootcamp.html %}
</div>
<!--
<div class="section grey-txt grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
        <h3>Do you have any questions about our bootcamp?</h3>
        <p>
          <a href="mailto:hello@reactjs.academy?subject=React Redux training" class="btn btn-info btn-lg">Ask us</a> <a href="mailto:hello@reactjs.academy?subject=React Redux training">hello@reactjs.academy</a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="section audience">
		<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<h2 class="anchor-link"><a href="#react-training-requirements" name="react-training-requirements"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> React Bootcamp Target Audience</h2>
				<p>
					In order to participate in our intensive React training you need to know HTML, CSS and some JavaScript. We can recommend you some online courses, exercises, and katas to improve your JavaScript skills before attending our React training.
				</p>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div>
<!--
<div class="section white-bg grey-txt">
	{% include why-training.html %}
</div> -->

{% include training-formats.html %}

<!--
<div class="section blue-bg apply-now">
<div class="triangle triangle-white"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Apply now at <a href="mailto:hello@reactjs.academy?subject=Scholarship for the next bootcamp in London">hello@reactjs.academy</a></h2>
        <p>
          <a href="mailto:hello@reactjs.academy?subject=Scholarship for the next bootcamp in London" class="btn btn-default btn-lg">Apply now</a>
        </p>
			</div>
		</div>
	</div>
</div>
-->

<div class="section contact  white-bg grey-txt">
	<div class="container text-center">
		<h2>More info at <a href="mailto:hello@reactjs.academy?subject=Attending the next bootcamp">hello@reactjs.academy</a></h2>
		<a href="mailto:hello@reactjs.academy?subject=Attending the next bootcamp" class="btn btn-info btn-lg">Contact now</a>
	</div>
</div>

{% include trainees-say.html %}

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
