---
layout: default
title: React Redux courses in Amsterdam
description: React Redux courses in Amsterdam. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-amsterdam, /react-redux-training-belin/]
url: /react-redux-training-amsterdam
---
<script>
fbq('track', 'ViewContent', {
value: 990,
currency: 'EUR'
});
</script>

<div class="section section-bg section-header-amsterdam">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        React Redux GraphQL training in Amsterdam
      </h1>
      <h2>
        Master React, Redux and GraphQL in Amsterdam in a few days, small groups and project-based bootcamps.
      </h2>
      <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div>
  </div>
</div>


<div class="section white-bg section-logos">
	{% include logos-companies.html %}
</div>

<div class="section grey-bg">
  <div class="container">
    <h2 class="text-center">Next React training in Amsterdam</h2>
    <div class="row row-courses">
      <div class="col-md-8 col-md-offset-2">
        <div class="row row-flex">
          <div class="col-sm-8 flex-col">
            <p><br/><strong>Early bird ticket</strong>, 1-day Advanced React Training</p>
            <p>The cost of the regular ticket is <strong>€295</strong> + VAT per student.</p>
            <p>Date: Saturday, March 24, 2018</p>
          </div>
          <div class="col-sm-4 flex-col">
            <div
              class="checkout-course-btn text-center"
              data-course-code="advreactadam201803"
              data-course-type="fundamentals"
              data-course-price="295"
              data-course-title="1-day Advanced React Training Adam"
              data-checkout-btn-text="Buy Now"
              data-currency="eur"
              data-button="btn_3colheader_bootcamp"
            ></div>
            <h4 class="text-center">
               <span style="text-decoration:line-through; color:red; margin-right:8px">
                 &pound;395
               </span>
               <span>
                 &pound;295
               </span>
            </h4>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="row row-flex">
          <div class="col-sm-8 flex-col">
            <p><br/><strong>Regular ticket</strong>, 1-day Advanced React Training</p>
            <p>The cost of the regular ticket is <strong>€395</strong> + VAT per student.</p>
            <p>Date: Saturday, March 24, 2018</p>
          </div>
          <div class="col-sm-4 flex-col text-center" style="padding-top:30px">
            Sales start in March
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section white-bg">
    {% include cv-1day-advanced-react.html %}
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>Join our Amsterdam newsletter</h2>
        {% include signup-form.html %}
			</div>
		</div>
	</div>
</div>

<div class="section white-bg ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Meet the coach</h2>
        <div class="row text-center flexbox-container" style="padding-top:20px">
          <div style="padding-bottom: 20px;" class="col-sm-6 text-center">
              <p>
              <a class="text-center" target="_blank" href="https://github.com/alexlbr"><img src="/assets/img/alex.jpg" class="img-responsive img-circle" alt="Alex Lobera"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/alexlbr">Alex Lobera</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-sm-6 text-center">
            <p>
              <a target="_blank" href="/become-a-coach.html">
                <img src="/assets/img/default-avatar.jpg" class="img-responsive img-circle" alt="You?">
              </a>
            </p>
            <p>
              <h4><a href="/become-a-coach.html">You?</a></h4>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blue-bg">
	{% include a-day-in-our-training.html %}
</div>


{% include trainees-say.html %}

<div class="section grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>
        Do you want to become a ReactJS coach in Amsterdam?
        </h2>
        <p>
          <a href="/become-a-coach.html" class="btn btn-info btn-lg">Become a coach</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
