---
layout: default
title: React Redux courses in New York
description: React Redux courses in New York. Small groups and project-based learning.
menu: next-courses
redirect_from: /react-redux-training-usa
url: /react-redux-graphql-bootcamp-nyc
permalink: /react-redux-graphql-bootcamp-nyc
img: https://reactjs.academy/assets/img/ny-bootcamp.jpg
---

<div class="section section-bg section-header-usa">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        1-week React Redux GraphQL bootcamp in NY
      </h1>
      <h2>
        Build production-ready products using React, Redux, & GraphQL. Small group and project-based training
      </h2>
      <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
      <h2>
        <strong>
        June 10 to June 17, 2018.
        </strong>
      </h2>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
	{% include logos-companies.html %}
</div>

<div class="section grey-bg">
  <div class="container">
    <div class="row row-courses">

  		<div class="col-md-8 col-md-offset-2">
        <div class="row">

          <div class="col-sm-8 flex-col">
            <h3>One week React developer bootcamp</h3>
            <p><br/><strong>Early bird ticket</strong></p>
            <p>
              <strong>June 10 to June 17, 2018. Location: wework NYC</strong>
            </p>
          </div>

          <div class="col-sm-4 flex-col">
            <div
              class="checkout-course-btn text-center"
              data-training-instance-id="5aa3d2bd7dcc782348ea203d"
              data-course-price="1995"
              data-course-title="NYC React Redux & GraphQL bootcamp "
              data-checkout-btn-text="Buy course"
              data-vat-rate="0"
              data-currency="usd"
              data-button="btn_3colheader_bootcamp"
            ></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include terms-conditions.html %}

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>Become a React, Redux, and GraphQL developer in our one week training in NY</h2>
        <p>
          {% include signup-form.html buttonText="Sign me up!" %}
        </p>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg">
    {% include cv-bootcamp.html %}
</div>

<div class="section blue-bg">
	{% include why-attend-bootcamp.html %}
</div>

<div class="section grey-bg ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Meet the coaches</h2>
        <div class="row text-center" style="padding-top:20px">
          <div class="col-sm-4 text-center">
              <p>
              <a class="text-center" target="_blank" href="https://github.com/alexlbr"><img src="/assets/img/alex.jpg" class="img-responsive img-circle" alt="Alex Lobera"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/alexlbr">Alex Lobera</a></h4>
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <a target="_blank" href="https://github.com/ric9176"><img src="https://s3-eu-west-1.amazonaws.com/masters-directory/richard-upmentoring.jpg" class="img-responsive img-circle" alt="Richard Moss"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/ric9176">Richard Moss</a></h4>
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <a target="_blank" href="https://github.com/horacioh"><img src="https://avatars3.githubusercontent.com/u/725120?s=400&v=4" class="img-responsive img-circle" alt="Horacio Herrera"></a>
            </p>
            <p>
            <h4><a target="_blank" href="https://github.com/horacioh">Horacio Herrera</a></h4>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Interested in a full-stack JavaScript bootcamp?</h2>
        <h3>
          <a class="color-yellow" href="/full-stack-js-react-graphql-node-mongo-bootcamp">See our full-stack JavaScript bootcamp <i class="fa fa-arrow-circle-right color-yellow" style="margin-left:8px" aria-hidden="true"></i></a>
        </h3>
        <p style="padding-top:20px">
          <a class="btn btn-default btn-lg" href="/full-stack-js-react-graphql-node-mongo-bootcamp">Full-stack JS Bootcamp</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>
        Do you want to become a ReactJS coach in USA?
        </h2>
        <p>
          <a href="/become-a-coach.html" class="btn btn-info btn-lg">Become a coach</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
