---
layout: default
title: React Redux courses in Brussels
description: React Redux courses in Brussels. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-brussels, /react-redux-training-brussels/]
url: /react-redux-training-brussels
---
<div class="section section-bg section-header-brussels">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        React & Redux training in Brussels
      </h1>
      <h2>
        Master React and Redux in Brussels in a few days, small groups and project-based bootcamps.
      </h2>
      <p>
        <a href="mailto:hello@reactjs.academy?subject=I would like to join the waiting list for the React Redux bootcamp in Brussels" class="btn btn-info btn-lg">Join waiting list</a>
      </p>
    </div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <p class="text-center">
          <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
            data-mediabox="video1"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-8" aria-hidden="true"></span>
            <br>
            <strong>What our trainees say. Play video &#xbb;</strong>
          </a>
        </p>
				<h2 class="text-center">In-person training in Brussels</h2>
        <p>
          ReactJS Academy has trained over a 1000 developers in Europe in our bootcamps and workshops. Now, for the first time, we are going to do a public bootcamp in Brussels. This <strong>React Redux bootcamp in Brussles will be in early 2017</strong>. <a href="https://www.meetup.com/ReactJS-Belgium/events/235351975/" target="_blank"><strong> <span class="label label-info">MEET US </span> &nbsp;  at our free workshop in Brussels</strong></a>. The entire bootcamp will last 4 days, 10 hours each day. Unleash the power of declarative and functional programming, become a productive React Redux developer in this intensive in-person training in Brussels.
        </p>
        <p class="text-center">
          <a href="mailto:hello@reactjs.academy?subject=I would like to join the waiting list for the React Redux bootcamp in Brussels" class="btn btn-info btn-lg">Join waiting list</a>
        </p>
			</div>
		</div>
	</div>
</div>

<!--
<div class="section white-bg">
  <div class="triangle triangle-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Next React Redux bootcamp in Brussels</h2>

      </div>
    </div>
  </div>
</div>

<div class="section purple-bg">
	{% include request-voucher.html %}
</div>

<div class="section white-bg grey-txt">
	{% include scholarship.html %}
</div>

-->
<div class="section white-bg grey-txt">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
    		<h2>Check the whole <a href="#react-training-day1">curriculum for the React Redux bootcamp</a> in Brussels or request more info at <a href="mailto:hello@reactjs.academy?subject=More info about the next bootcamp in Brussels">hello@reactjs.academy</a></h2>
    		<a href="/#react-training-day1" class="btn btn-default btn-lg">Check our curriculum</a>
        <!--<a href="mailto:hello@reactjs.academy?subject=More info about the next bootcamp in Brussels" class="btn btn-info btn-lg">Contact now</a>-->
      </div>
    </div>
  </div>
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
