---
layout: default
title: React Redux courses in Amsterdam
description: React Redux courses in Amsterdam. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-amsterdam, /react-redux-training-amsterdam/]
url: /react-redux-training-amsterdam
---

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@id": "./",
  "@type": "Course",
  "name": "React Redux GraphQL course in Amsterdam",
  "description": "Master React, Redux, and GraphQL in a few days in Amsterdam, small group and project-based training.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "88",
    "bestRating": "100",
    "ratingCount": "23"
  },
  "hasCourseInstance": [
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "08 June 2017",
      "endDate": "09 June 2017",
      "name": "React & Redux Fundamentals course in Amsterdam",
      "url": "http://reactjs.academy/react-redux-training-amsterdam",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 2-day course will help you understand the key concepts of React and Redux. Hands-on training. Groups of maximum 20 developers. Start building complex applications that are easy to change, and have less bugs.",
      "location": {
        "@type": "Place",
        "name": "ReactJS Academy",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Amsterdam",
          "addressRegion": "Holland"
        }
      }
    },
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "15 June 2017",
      "endDate": "16 June 2017",
      "name": "Advanced React, Redux, GraphQL course in Amsterdam",
      "url": "http://reactjs.academy/react-redux-training-amsterdam",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 2-day course will teach you how to build production-ready real-world React Redux GraphQL applications. Hands-on training. Groups of maximum 20 developers. Expand your capabilities building more complex and scalable applications.",
      "location": {
        "@type": "Place",
        "name": "ReactJS Academy",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Amsterdam",
          "addressRegion": "Holland"
        }
      }
    },
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "08 June 2017",
      "endDate": "16 June 2017",
      "name": "React Redux GraphQL Bootcamp in Amsterdam",
      "url": "http://reactjs.academy/react-redux-training-amsterdam",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 4-day course will help you go from 0 to master building production-ready real-world React Redux GraphQL applications. Hands-on training. Groups of maximum 20 developers. Start building complex and scalable applications that are easy to change, and have less bugs.",
      "location": {
        "@type": "Place",
        "name": "ReactJS Academy",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Amsterdam",
          "addressRegion": "Holland"
        }
      }
    }
  ]
}
</script>

<div class="section section-bg section-header-amsterdam">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        React Redux GraphQL training in Amsterdam
      </h1>
      <h2>
        Master React, Redux, and GraphQL in a few days in Amsterdam, small groups and project-based bootcamps.
      </h2>
      <p class="text-center">
        <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
          data-mediabox="video1"
          data-iframe="true"
          data-width="530"
          data-height="315"
          data-title="ReactJS Academy">
          <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
          <br>
          <strong style="color:white">Play video &#xbb;</strong>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<ul class="list-unstyled list-inline">
          <li>
              <img src="/assets/img/logos/abinbev.png" alt="abinbev">
          </li>
          <li>
              <img src="/assets/img/logos/ftimes.png" alt="financial times">
          </li>
          <li>
						<img src="/assets/img/logos/blockchain.png" alt="blockchain">
					</li>
          <li>
              <img src="/assets/img/logos/trainline.png" alt="the trainline">
          </li>
        </ul>
      </div>
		</div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <p>
          ReactJS Academy has trained over a 1000 developers in Europe in our bootcamps and workshops. <a href="https://www.meetup.com/JavaScript-Amsterdam/events/237879771/" target="_blank"><strong> <span class="label label-info">MEET US </span> &nbsp; at our free workshop in Amsterdam </strong></a>. Unleash the power of declarative and functional programming, become a productive React Redux developer in this intensive ( 4 days, 10 hours each day) in-person training in Amsterdam.
        </p>
			</div>
		</div>
	</div>
</div>
<!--
<div class="section white-bg">
  <div class="container">
    <div class="row row-courses">
  		<div class="col-md-8 col-md-offset-2">
        <div class="row ">
          <div class="col-md-8">
            <h3>React Redux Fundamentals Course Amsterdam</h3>
            <p>
              Curriculum: <a href="#react-training-day1"><strong>Day 1</strong></a> and <a href="#react-training-day2"><strong>day 2</strong></a>.
              <br/>Dates: <strong>June 8th and 9th, 2017</strong>.
              <br>Location: Amsterdam <span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Price: <strong>990 &euro;</strong> + VAT
            </p>
          </div>
          <div class="col-md-4">
            <div
              class="checkout-course-btn text-center"
              data-course-code="reactamsterdamjune2017"
              data-course-type="fundamentals"
              data-course-price="990"
              data-course-title="React Fundamentals Amsterdam June 2017"
              data-checkout-btn-text="Buy course"
              data-currency="eur"
              data-button="btn_3colheader_bootcamp"
            ></div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-8">
            <h3>Advanced React Redux GraphQL Course Amsterdam</h3>
            <p>
              Curriculum: <a href="#react-training-day3"><strong>Day 3</strong></a> and <a href="#react-training-day4"><strong>day 4</strong></a>.
              <br/>Dates: <strong>June 15th and 16th, 2017</strong>.
              <br>Location: Amsterdam <span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Price: <strong>990 &euro;</strong> + VAT
            </p>
          </div>
          <div class="col-md-4">
            <div
            class="checkout-course-btn text-center"
            data-course-code="reactamsterdamjune2017"
            data-course-type="advanced"
            data-course-price="990"
            data-course-title="Advanced React Amsterdam June 2017"
            data-checkout-btn-text="Buy course"
            data-currency="eur"
            data-button="btn_3colheader_advanced"
            ></div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-8">
            <h3>React Redux GraphQL Bootcamp Amsterdam</h3>
            <p>
              Curriculum: <a href="#react-training-day1"><strong>Day 1</strong></a>, <a href="#react-training-day2"><strong>day 2</strong></a>, <a href="#react-training-day3"><strong>day 3</strong></a> and <a href="#react-training-day4"><strong>day 4</strong></a>.
              <br/>Dates: <strong>June 8th, 9th, 15th, 16th, 2017</strong>.
              <br>Location: Amsterdam <span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Price: <span style="text-decoration:line-through; color:red; padding-right:6px">1980 &euro;</span> <strong>1782 &euro;</strong> + VAT
            </p>
          </div>
          <div class="col-md-4">
            <div
              class="checkout-course-btn text-center"
              data-course-code="reactamsterdamjune2017"
              data-course-type="bootcamp"
              data-course-price="1782"
              data-course-title="React Bootcamp Amsterdam June 2017"
              data-checkout-btn-text="Buy course"
              data-currency="eur"
              data-button="btn_3colheader_bootcamp"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include terms-conditions.html %}
-->
<div class="section white-bg">
    {% include cv.html %}
</div>

<div class="section grey-bg">
    {% include teachers.html %}
</div>

<div class="section blue-bg">
	{% include a-day-in-our-training.html %}
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
