---
layout: default
title: React Redux GraphQL courses in London
description: React Redux GraphQL courses in London. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-london, /react-redux-training-london/]
url: /react-redux-training-london
---
<script>
fbq('track', 'ViewContent', {
value: 995,
currency: 'GBP'
});
</script>

<div class="section section-bg section-header-london">
  <div class="container jumbotron">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>
        React, Redux, GraphQL training in London
      </h1>
      <h2>
        Master React, Redux and GraphQL in a few days in London, small group and project-based training
      </h2>
      <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
	{% include logos-companies.html %}
</div>

<div class="section grey-bg">
  <div class="container">
    <div class="row row-courses">
      <div class="col-md-8 col-md-offset-2">
        <div class="row row-flex" style="padding-bottom: 0">
          <div class="col-sm-8 flex-col">
            <p><br/><strong>Early bird, React part-time course London</strong></p>
            <p>The cost of the course is &pound;1245 + VAT per student. Early bird tickets are only &pound;995 + VAT. <strong><a href="#react-part-time">See curriculum</a></strong></p>
            <p>
              Two evenings 6-9pm per week, <strong>June 5th to July 12th, 2018</strong>.
            </p>
            <p>
              Location: 50 Commercial St, London E1 6LT.
            </p>
          </div>
          <div class="col-sm-4 flex-col">
            <div
              class="checkout-course-btn text-center"
              data-training-instance-id="5ab3d6ba88546e46fa2b25ff"
              data-course-price="995"
              data-course-title="React Part-Time London"
              data-checkout-btn-text="Buy course"
              data-currency="gbp"
              data-button="btn_3colheader_bootcamp"
            ></div>
            <h4 class="text-center">
               <span style="text-decoration:line-through; color:red; margin-right:8px">
                 &pound;1250
               </span>
               <span>
                 &pound;995
               </span>
            </h4>
            <!-- <h2 class="text-center"> SOLD OUT </h2>
            <h4 class="text-center">
               <span style="text-decoration:line-through; color:red; margin-right:8px">
                 &pound;1245
               </span>
               <span>
                 &pound;995
               </span>
            </h4> -->
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-12 text-center">
          <h3>
            <strong>
            Two evenings 6-9pm per week, April 24th to May 31st, 2018.
            </strong>
          </h3>
        </div>
      </div> -->
    </div>
  </div>
</div>

{% include terms-conditions.html %}

<div class="section grey-bg" style="padding-top:30px; padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>Join our mailing list</h2>
        <p>
          {% include signup-form.html buttonText="More info please!" %}
        </p>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg" >
    {% include cv-part-time.html %}
</div>

<div class="section blue-bg">
    <div class="container">
      <div class="row row-courses">
        <div class="col-md-8 col-md-offset-2">
          <div class="row row-flex" style="padding-bottom: 0">
            <div class="col-sm-8 flex-col">
              <p><br/><strong>Early bird, React part-time course London</strong></p>
              <p>The cost of the course is &pound;1245 + VAT per student. Early bird tickets are only &pound;995 + VAT</p>
              <p>
                Two evenings 6-9pm per week, <strong>June 5th to July 12th, 2018.</strong>.
              </p>
            </div>
            <div class="col-sm-4 flex-col">
              <div
                class="checkout-course-btn text-center"
                data-training-instance-id="5ab3d6ba88546e46fa2b25ff"
                data-course-price="995"
                data-course-title="React Part-Time London"
                data-checkout-btn-text="Buy course"
                data-currency="gbp"
                data-button="btn_3colheader_bootcamp"
              ></div>
              <h4 class="text-center">
                 <span style="text-decoration:line-through; color:red; margin-right:8px">
                   &pound;1250
                 </span>
                 <span>
                   &pound;995
                 </span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <div class="section blue-bg">
    {% include cv-1day-advanced-react-redux.html %}
    <div class="container">
      <div class="row row-courses">
      <div class="col-md-8 col-md-offset-2">
        <hr  />
        <div class="row row-flex" style="padding-bottom:0">
          <div class="col-sm-8 flex-col">
            <p><br/><strong>Early bird, 1-day Advanced React & Redux training London</strong></p>
            <p>The cost of the ticket is &pound;325 + VAT per student.</p>
            <p>Date: <strong>Saturday, April 28th, 2018.</strong></p>
          </div>
          <div class="col-sm-4 flex-col">
            <div
              class="checkout-course-btn text-center"
              data-training-instance-id="5ab6253988546e46fa2b2602"
              data-course-price="325"
              data-course-title="1-day Advanced React Training Adam"
              data-checkout-btn-text="Buy Now"
              data-currency="gbp"
              data-button="btn_3colheader_bootcamp"
            ></div>
            <h4 class="text-center">
               <span style="text-decoration:line-through; color:red; margin-right:8px">
                 &pound;395
               </span>
               <span>
                 &pound;325
               </span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    </div>
</div> -->


<div class="section white-bg">
	{% include prerequisites.html %}
</div>

<div class="section grey-bg">
	{% include faqs.html %}
</div>

<div class="section white-bg">
	{% include a-day-in-our-training.html %}
</div>

<div class="section grey-bg ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">
          <a href="#coaches" name="coaches">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          Meet the coaches
        </h2>
      </div>
    </div>
        <div class="row" style="padding-top:20px">
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href="https://github.com/alexlbr"><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a6740a52755c83e82f7d829.jpeg" class="img-responsive img-circle" alt="Alex Lobera"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/alexlbr">Alex Lobera</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href="https://github.com/ric9176"><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a5c81804f438611e449e202.jpeg" class="img-responsive img-circle" alt="Richard Moss"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/ric9176">Richard Moss</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href="https://github.com/wvoelcker"><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a5df7614f438611e449e219.jpeg" class="img-responsive img-circle" alt="Richard Moss"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/wvoelcker">Will Voelcker</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href="https://github.com/oluomoniyi"><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a89a76fbf83581e81687a79.jpeg" class="img-responsive img-circle" alt="Olu Omoniyi"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/oluomoniyi">Olu Omoniyi</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href=""><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a8b07bac663fd1b6fc0cf40.jpeg" class="img-responsive img-circle" alt="Michaela Hercogova"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/Majkina">Michaela Hercogova</a></h4>
            </p>
          </div>
          <div style="padding-bottom: 20px;" class="col-md-2 text-center">
            <p>
              <a target="_blank" href="https://github.com/Adzz"><img src="https://storage.googleapis.com/upmentoring_user_profile_image/400x400_5a89a7dbbf83581e81687a7a.jpeg" class="img-responsive img-circle" alt="Adam Lancaster"></a>
            </p>
            <p>
              <h4><a target="_blank" href="https://github.com/Adzz">Adam Lancaster</a></h4>
            </p>
          </div>
          <!-- <div class="col-md-4">
            <p>
              <a target="_blank" href="/become-a-coach.html">
                <img src="/assets/img/default-avatar.jpg" class="img-responsive img-circle" alt="You?">
              </a>
            </p>
            <p>
              <h4>
                <a href="/become-a-coach.html">You?</a>
              </h4>
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>Become a React, Redux, and GraphQL developer in our part-time in-person training in London</h2>
        <p>
          {% include signup-form.html buttonText="More info please!" %}
        </p>
			</div>
		</div>
	</div>
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>
        Do you want to become a ReactJS coach in London?
        </h2>
        <p>
          <a href="/become-a-coach.html" class="btn btn-info btn-lg">Become a coach</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Are you a student in the current React part-time course?</h3>
        <h4>Here the dates for the next sessions between March 12th and April 25th, 2018</h4>
        <ul>
          <li>
             Session 5, March 26th. First project
          </li>
          <li>
            Session 6, March 28th. Styling React
          </li>
          <li>
            Session 7, April 9th. Redux
          </li>
          <li>
            Session 8, April 11th. Testing Redux
          </li>
          <li>
            Session 9, April 16th. Server Side Rendering
          </li>
          <li>
            Session 10, April 18th. Testing in React
          </li>
          <li>
            Session 11, April 23rd. GraphQL
          </li>
          <li>
            Session 12, April 25th. Final Project
          </li>
        </ul>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div> -->
