---
layout: default
title: React Redux courses in Berlin
description: React Redux courses in Berlin. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-berlin, /react-redux-training-belin/]
url: /react-redux-training-berlin
---
<script>
fbq('track', 'ViewContent', {
value: 990,
currency: 'EUR'
});
</script>

<div class="section section-bg section-header-berlin">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        React Redux GraphQL training in Berlin
      </h1>
      <h2>
        Master React, Redux and GraphQL in Berlin in a few days, small groups and project-based bootcamps.
      </h2>
      <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div>
  </div>
</div>
<div class="section white-bg section-logos">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<ul class="list-unstyled list-inline">
          <li>
              <img src="/assets/img/logos/abinbev.png" alt="abinbev">
          </li>
          <li>
              <img src="/assets/img/logos/ftimes.png" alt="financial times">
          </li>
          <li>
						<img src="/assets/img/logos/blockchain.png" alt="blockchain">
					</li>
          <li>
              <img src="/assets/img/logos/trainline.png" alt="the trainline">
          </li>
        </ul>
      </div>
		</div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          ReactJS Academy has trained over a 1000 developers in Europe in our bootcamps and workshops. The next public bootcamp in Berlin will be
        on May 3th, 4th, 11th & 12th, 2017. <a href="https://www.meetup.com/JavaScript-Berlin/events/237403520/" target="_blank"><strong> <span class="label label-info">MEET US </span> &nbsp; at our free workshop in Berlin </strong></a>. The entire bootcamp will last 4 days, 10 hours each day. Unleash the power of declarative and functional programming, become a productive React Redux developer in this intensive in-person training.
  		</div>
		</div>
	</div>
</div>

<!--
<div class="section white-bg">
  <div class="triangle triangle-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Next React Redux bootcamp in Berlin</h2>

      </div>
    </div>
  </div>
</div>

<div class="section purple-bg">
	{% include request-voucher.html %}
</div>

<div class="section white-bg grey-txt">
	{% include scholarship.html %}
</div>
-->
<!--
<div class="section white-bg">
  <div class="container">
    <div class="row row-courses">
  		<div class="col-md-8 col-md-offset-2">
        <div class="row ">
          <div class="col-md-8">
            <h3>React & Redux Fundamentals Course Berlin</h3>
            <p>
              Curriculum: <a href="#react-training-day1"><strong>Day 1</strong></a> and <a href="#react-training-day2"><strong>day 2</strong></a>.
              <br/>Dates: <strong>May 18th and 19th, 2017</strong>.
              <br>Location: Berlin <span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Price: <strong>990 &euro;</strong> + VAT
            </p>
          </div>
          <div class="col-md-4">
            <div
              class="checkout-course-btn text-center"
              data-course-code="reactberlinmay2017"
              data-course-type="fundamentals"
              data-course-price="990"
              data-course-title="React Fundamentals Berlin May 2017"
              data-checkout-btn-text="Buy course"
              data-currency="eur"
              data-button="btn_3colheader_bootcamp"
            ></div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-8">
            <h3>Advanced React Redux GraphQL Course Berlin</h3>
            <p>
              Curriculum: <a href="#react-training-day3"><strong>Day 3</strong></a> and <a href="#react-training-day4"><strong>day 4</strong></a>.
              <br/>Dates: <strong>June 1st and 2nd, 2017</strong>.
              <br>Location: Berlin <span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Price: <strong>990 &euro;</strong> + VAT
            </p>
          </div>
          <div class="col-md-4">
            <div
            class="checkout-course-btn text-center"
            data-course-code="reactberlinmay2017"
            data-course-type="advanced"
            data-course-price="990"
            data-course-title="Advanced React Berlin June 2017"
            data-checkout-btn-text="Buy course"
            data-currency="eur"
            data-button="btn_3colheader_advanced"
            ></div>
          </div>
        </div>
        <div class="row ">
            <div class="col-md-8">
              <h3>React Redux GraphQL Bootcamp Berlin</h3>
              <p>
                Curriculum: <a href="#react-training-day1"><strong>Day 1</strong></a>, <a href="#react-training-day2"><strong>day 2</strong></a>, <a href="#react-training-day3"><strong>day 3</strong></a> and <a href="#react-training-day4"><strong>day 4</strong></a>.
                <br/>Dates: <strong>May 18th, 19th, and June 1st, 2nd, 2017</strong>.
                <br>Location: Berlin <span class="fa fa-map-marker" aria-hidden="true"></span></a>
                <br>Price: <span style="text-decoration:line-through; color:red; padding-right:6px">1980 &euro;</span> <strong>1782 &euro;</strong> + VAT
              </p>
            </div>
            <div class="col-md-4">
              <div
                class="checkout-course-btn text-center"
                data-course-code="reactberlinmay2017"
                data-course-type="bootcamp"
                data-course-price="1782"
                data-course-title="React Bootcamp Berlin May-June 2017"
                data-checkout-btn-text="Buy course"
                data-currency="eur"
                data-button="btn_3colheader_bootcamp"
              ></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section grey-bg">
  <div class="triangle triangle-white"></div>
  <div class="container">
    <p class="text-center">
      This course is in English. By purchasing a course or bootcamp, you agree to our <a target="_blank" href="/terms-of-service"><strong>Terms & Conditions</strong></a>.
    </p>
	</div>
</div>
-->
<div class="section white-bg">
    {% include cv.html %}
</div>
<!-- 
<div class="section grey-bg">
    {% include teachers.html %}
</div> -->

<div class="section blue-bg">
	{% include a-day-in-our-training.html %}
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
