---
layout: default
title: React Redux GraphQL bootcamp in Lisbon
description: React Redux GraphQL bootcamp in Lisbon. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-graphql-bootcamp-lisbon, /react-redux-training-london/]
url: /react-redux-training-london
---

<script>
fbq('track', 'ViewContent', {
value: 1800,
currency: 'GBP'
});
</script>


<div class="section section-bg section-header-lisbon">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        Master React in just a week in Portugal
      </h1>
      <div class=" text-center">
        <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
          data-mediabox="video1"
          data-iframe="true"
          data-width="530"
          data-height="315"
          data-title="ReactJS Academy">
          <span class="fa fa-youtube-play fa-6" aria-hidden="true"></span>
          <br />
          <strong style="color:white">Play video</strong>
        </a>
      </div>
      <h2>
        <strong>
        January 28 to February 4, 2018.
        </strong>
      </h2>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
  {% include logos-companies.html %}
</div>

<div class="section grey-bg">
  <div class="container">
    <div class="row row-courses">
  		<div class="col-md-8 col-md-offset-2">
        <div class="row ">
          <div class="col-md-9">
            <h3>1-Week React Developer Bootcamp</h3>
            <p>
              <br /><strong>From January 28 to February 4, 2018</strong>.
              <br>Location: Estoril, Portugal, <a target="_blank" href="https://www.google.co.uk/maps/place/Estoril,+Portugal/@38.700497,-9.3938279,16z/data=!4m5!3m4!1s0xd1ec5c602d62353:0x82c0f730439d4cb1!8m2!3d38.7133152!4d-9.3936558"><span class="fa fa-map-marker" aria-hidden="true"></span></a>
              <br>Cost of the 7-day training: <strong>&pound;1600</strong> + VAT
              <br>Cost of the accomodation for 7 days (lunch & breakfast included): <strong>&pound;200</strong> + VAT
            </p>
          </div>
          <div class="col-md-3">
            <div
              class="checkout-course-btn text-center"
              data-course-code="reactlisbonjanfeb2018"
              data-course-type="fundamentals"
              data-course-price="1800"
              data-course-title="React Bootcamp Portugal Jan-Feb 2018"
              data-checkout-btn-text="Buy course"
              data-currency="gbp"
              data-button="btn_3colheader_bootcamp"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include terms-conditions.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>I would like to receive more info and some pre-course learning resources!</h4>
        <form class="form-inline more-info-form">
          <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Your Name!">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Your best email">
          </div>
          <button type="submit" class="btn btn-info">Sign me up!</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="section blue-bg">
	{% include why-attend-bootcamp.html %}
</div>

<div class="section white-bg">
    {% include cv-bootcamp.html %}
</div>

<div class="section grey-bg ">
  {% include teachers.html %}
</div>

<div class="section white-bg section-pictures">
	<div class="container">
    <div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>The place</h2>
        <h3>
          Code, collaborate, learn and live all in a single, beautiful and comfortable place <small>(up to 19 people).</small>
        </h3>
      </div>
    </div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/15.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/15.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/2.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/2.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/3.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/3.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/4.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/4.jpg" class="img-responsive" />
        </a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/5.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/5.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/6.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/6.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/9.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/9.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/8.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/8.jpg" class="img-responsive" />
        </a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/12.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/12.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/13.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/13.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/20.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/20.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/1.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/1.jpg" class="img-responsive" />
        </a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/16.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/16.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/17.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/17.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a href="/assets/img/venue-estoril/18.jpg"
          data-mediabox="venue"
        >
          <img src="/assets/img/venue-estoril/18.jpg" class="img-responsive" />
        </a>
			</div>
			<div class="col-md-3 col-sm-6">
        <a target="_blank" href="https://www.google.co.uk/maps/place/Estoril,+Portugal/@38.700497,-9.3938279,16z/data=!4m5!3m4!1s0xd1ec5c602d62353:0x82c0f730439d4cb1!8m2!3d38.7133152!4d-9.3936558"
        >
          <img src="/assets/img/venue-estoril/map.jpg" class="img-responsive" />
        </a>
			</div>
		</div>
  </div>
</div>

<div class="section purple-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="font-size:1.2em">
        <h2 class="text-center">A day in our training</h2>
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Breakfast
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lecture and code
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lunch
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lecture and code
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Yoga, a yoga teacher will come to our house
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dinner
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Relax, rest,... or code :)
          </li>
        </ul>
			</div>
		</div>
  </div>
</div>

<div class="section white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="font-size:1.2em">
        <p>
          ReactJS Academy is Europes longest running dedicated React and Redux training. Established in <a href="https://www.meetup.com/JavaScript-London/events/230287691/" target="_blank">May 2016</a>, we've trained over 1000 developers across the EU in our private bootcamps and public workshops.
        </p>
        <p>
          You can read reviews of our workshops in the following Meetup groups which we organise:
        </p>
        {% include meetup-list.html %}
			</div>
		</div>
  </div>
</div>

{% include trainees-say.html %}
