
---
layout: default
title: React Redux courses in Paris
description: React Redux courses in Paris. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-paris, /react-redux-training-paris/]
url: /react-redux-training-paris
---

<!--
<div class="section section-bg section-header-paris">
  <div class="container jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>
        React & Redux training in Paris, May-June 2017
      </h1>
      <h2>
        Master React and Redux in Paris in a few days, small groups and project-based bootcamps.
      </h2>
      <div
        class="checkout-course-btn text-center"
        data-course-code="reactparismay2017"
        data-course-type="bootcamp"
        data-course-price="1782"
        data-course-title="React Redux Bootcamp Paris May-June 2017"
        data-checkout-btn-text="Buy / add voucher"
        data-currency="eur"
      ></div>
    </div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <p class="text-center">
          <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
            data-mediabox="video1"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-8" aria-hidden="true"></span>
            <br>
            <strong>What our trainees say. Play video &#xbb;</strong>
          </a>
        </p>
				<h2 class="text-center">React Redux In-person training in Paris</h2>
        <p>
          ReactJS Academy has trained over a 1000 developers in Europe in our bootcamps and workshops. After training some French companies we are announciong a public bootcamp in Paris. The public React Redux bootcamp in Paris will be in <strong>May 27th & 28th, June 10th & 11th, 2017</strong>. If you are not sure if this training is good enough for you, come and <a href="https://www.meetup.com/JavaScript-Paris/events/237690419/" target="_blank"><strong><span class="label label-info">MEET US </span> &nbsp; at our free workshop in Paris</strong></a>!. The entire bootcamp lasts 4 days, 10 hours each day. Unleash the power of React and functional programming, become a productive React Redux developer in this intensive in-person training in Paris.
        </p>
			</div>
		</div>
	</div>
</div>
<div class="section white-bg">
  <div class="container">
		<div class="row">
			<div class="col-md-4">
        <h3>React Redux Fundamentals</h3>
        <p>
          Curriculum: <a href="/#react-training-day1"><strong>Day 1</strong></a> and <a href="/#react-training-day2"><strong>day 2</strong></a>.
          <br>Dates: <strong>May 27th and 28th, 2017</strong>.
          <br>Location: Paris <span class="fa fa-map-marker" aria-hidden="true"></span>
          <br>Language: English
          <br>Price: <strong>990&euro;</strong> + VAT
        </p>
        <div
          class="checkout-course-btn text-center"
          data-course-code="reactparismay2017"
          data-course-type="fundamentals"
          data-course-price="990"
          data-course-title="React Fundamentals Paris May-June 2017"
          data-checkout-btn-text="Buy / add voucher"
          data-currency="eur"
        ></div>
      </div>
			<div class="col-md-4">
        <h3>Advanced React Redux</h3>
        <p>
          Curriculum: <a href="/#react-training-day3"><strong>Day 3</strong></a> and <a href="/#react-training-day4"><strong>day 4</strong></a>.
          <br/>Dates: <strong>June 10th and 11th, 2017</strong>.
          <br>Location: Paris <span class="fa fa-map-marker" aria-hidden="true"></span>
          <br>Language: English
          <br>Price: <strong>990&euro;</strong> + VAT
        </p>
        <div
          class="checkout-course-btn text-center"
          data-course-code="reactparismay2017"
          data-course-type="advanced"
          data-course-price="990"
          data-course-title="Advanced React Paris May-June 2017"
          data-checkout-btn-text="Buy / add voucher"
          data-currency="eur"
        ></div>
      </div>
      <div class="col-md-4">
        <h3>React Redux Bootcamp</h3>
        <p>
          Curriculum: <a href="/#react-training-day1"><strong>Day 1</strong></a>, <a href="/#react-training-day2"><strong>day 2</strong></a>, <a href="/#react-training-day3"><strong>day 3</strong></a> and <a href="/#react-training-day4"><strong>day 4</strong></a>.
          <br/>Dates: <strong>May 27th & 28th, June 10th & 11th, 2017</strong>.
          <br>Location: Paris <span class="fa fa-map-marker" aria-hidden="true"></span>
          <br>Language: English
          <br>Price: <span style="text-decoration:line-through; color:red; padding-right:6px">&euro;1980</span> <strong>&euro;1782</strong> + VAT
        </p>
        <div
          class="checkout-course-btn text-center"
          data-course-code="reactparismay2017"
          data-course-type="bootcamp"
          data-course-price="1782"
          data-course-title="React Bootcamp Paris May-June 2017"
          data-checkout-btn-text="Buy / add voucher"
          data-currency="eur"
        ></div>
      </div>
    </div>
	</div>
</div>

<div class="section grey-bg">
  <div class="triangle triangle-white"></div>
  <div class="container">
    <p class="text-center">
      This course is in English. By purchasing a course or bootcamp, you agree to our <a target="_blank" href="/terms-of-service"><strong>Terms & Conditions</strong></a>.
    </p>
	</div>
</div>

<div class="section white-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
    		<h2>Check the whole <a href="#react-training-day1">curriculum for the React Redux bootcamp</a> in Paris or request more info at <a href="mailto:hello@reactjs.academy?subject=More info about the next bootcamp in Paris">hello@reactjs.academy</a></h2>
    		<a href="/#react-training-day1" class="btn btn-default btn-lg">Check our curriculum</a>

      </div>
    </div>
  </div>
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
-->
