---
layout: default
title: React Redux GraphQL courses in London
description: React Redux GraphQL courses in London. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-london, /react-redux-training-london/]
url: /react-redux-training-london
---
<script>
fbq('track', 'ViewContent', {
value: 990,
currency: 'GBP'
});
</script>

<div class="section section-bg section-header-london">
  <div class="container jumbotron">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>
        React, Redux, GraphQL training in London
      </h1>
      <h2>
        Master React, Redux and GraphQL in a few days in London, small group and project-based training
      </h2>
      <a href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
	{% include logos-companies.html %}
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <h2>Become a React, Redux, and GraphQL developer in our part-time in-person training in London</h2>
        <p>
          <a href="mailto:hello@reactjs.academy?subject=I would like to join the waiting list for the React Redux bootcamp in London" class="btn btn-info btn-lg">Join waiting list</a>
        </p>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>
        Do you want to become a ReactJS coach in London?
        </h2>
        <p>
          <a href="/become-a-coach.html" class="btn btn-info btn-lg">Become a coach</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section blue-bg">
	{% include a-day-in-our-training.html %}
</div>

<div class="section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>
        ReactJS Academy in <strong>London</strong> is comming soon :)
        </h2>
        {% include meanwhile-portugal.html %}
      </div>
    </div>
  </div>
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
