---
layout: default
title: React Redux GraphQL courses in London
description: React Redux GraphQL courses in London. Small groups and project-based learning.
menu: next-courses
alias: [/react-redux-training-london, /react-redux-training-london/]
url: /react-redux-training-london
---
<script>
fbq('track', 'ViewContent', {
value: 990,
currency: 'GBP'
});
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@id": "./",
  "@type": "Course",
  "name": "React Redux GraphQL course in London",
  "description": "Master React and Redux in a few days in London, small group and project-based training.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "91",
    "bestRating": "100",
    "ratingCount": "47"
  },
  "hasCourseInstance": [
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "13 May 2017",
      "endDate": "14 May 2017",
      "name": "React & Redux Fundamentals course in London",
      "url": "http://reactjs.academy/react-redux-training-london",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 2-day course will help you understand the key concepts of React and Redux. Hands-on training. Groups of maximum 20 developers. Start building complex applications that are easy to change, and have less bugs.",
      "location": {
        "@type": "Place",
        "name": "WeWork",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "London",
          "addressRegion": "UK",
          "postalCode": "EC2Y 5EJ",
          "streetAddress": "1 Fore Street"
        }
      }
    },
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "20 May 2017",
      "endDate": "21 May 2017",
      "name": "Advanced React, Redux GraphQL course in London",
      "url": "http://reactjs.academy/react-redux-training-london",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 2-day course will teach you how to build production-ready real-world React & Redux applications. Hands-on training. Groups of maximum 20 developers. Expand your capabilities building more complex and scalable applications.",
      "location": {
        "@type": "Place",
        "name": "WeWork",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "London",
          "addressRegion": "UK",
          "postalCode": "EC2Y 5EJ",
          "streetAddress": "1 Fore Street"
        }
      }
    },
    {
      "@type": "CourseInstance",
      "courseMode": "full-time",
      "startDate": "13 May 2017",
      "endDate": "21 May 2017",
      "name": "Bootcamp React Redux GraphQL in London",
      "url": "http://reactjs.academy/react-redux-training-london",
      "image": "https://reactjs.academy/assets/img/header_opt.jpg",
      "eventStatus": "scheduled",
      "description": "This 4-day course will help you go from 0 to master building production-ready real-world React & Redux applications. Hands-on training. Groups of maximum 20 developers. Start building complex and scalable applications that are easy to change, and have less bugs.",
      "location": {
        "@type": "Place",
        "name": "WeWork",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "London",
          "addressRegion": "UK",
          "postalCode": "EC2Y 5EJ",
          "streetAddress": "1 Fore Street"
        }
      }
    }
  ]
}
</script>
<div class="section section-bg section-header-london">
  <div class="container jumbotron">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>
        React, Redux, GraphQL training in London
      </h1>
      <h2>
        Master React, Redux and GraphQL in a few days in London, small group and project-based training
      </h2>
      <div class="call-to-action text-center">
        <a href="https://leanjs.com/training/react-redux-graphql-london" class="btn btn-info btn-default">Next training in London</a><a href="mailto:hello@reactjs.academy?subject=Quote private on-site private training" class="btn btn-default">Private on-site training</a>
      </div>
    </div>
  </div>
</div>

<div class="section white-bg section-logos">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<ul class="list-unstyled list-inline">
          <li>
              <img src="/assets/img/logos/abinbev.png" alt="abinbev">
          </li>
          <li>
              <img src="/assets/img/logos/ftimes.png" alt="financial times">
          </li>
          <li>
						<img src="/assets/img/logos/blockchain.png" alt="blockchain">
					</li>
          <li>
              <img src="/assets/img/logos/trainline.png" alt="the trainline">
          </li>
        </ul>
      </div>
		</div>
  </div>
</div>

<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <p>
          ReactJS Academy teaches React and Redux in London since February 2016. We've trained more than 500 developers in London in our private bootcamps and <a href="http://www.meetup.com/JavaScript-London/" target="_blank">public workshops</a>. Become a productive React Redux developer in 4 days in Central London.
        </p>
			</div>
		</div>
  </div>
</div>

<div class="section blue-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <div class="call-to-action text-center">
          <a href="https://leanjs.com/training/react-redux-graphql-london" class="btn btn-default btn-lg">Next training in London</a>
        </div>
			</div>
		</div>
  </div>
</div>

<div class="section white-bg">
    {% include cv.html %}
</div>


<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        <div class="call-to-action text-center">
          <a href="https://leanjs.com/training/react-redux-graphql-london" class="btn btn-info btn-default btn-lg">Next training in London</a>
        </div>
			</div>
		</div>
  </div>
</div>

<div class="section grey-bg">
    {% include teachers.html %}
</div>

<div class="section blue-bg">
	{% include a-day-in-our-training.html %}
</div>

{% include trainees-say.html %}

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

<div class="section purple-bg">
  {% include bootcamp-other-locations.html %}
</div>
