---
layout: default
title: React Redux courses and on-site private training
description: React Redux courses and on-site private training. Intenisive bootcamps and small groups.
menu: training
---
<div class="section section-header-training white-bg">
  <div class="container jumbotron">
    <div class="row">
			<div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">
          Great developers build great products
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="section purple-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="text-center">A great developer yesterday may not be that great today</h2>
        <p>
          Technology evolves fast, JavaScript especially nowadays. New technology helps you build <strong>more features with less bugs</strong>. The tech market is very competitive and hiring great developers is difficult. It's more effective to train them than to find them. Training also increases employee retention.
        </p>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg">
  <div class="triangle triangle-purple"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h2 class="text-center">Learn reliable technology</h2>
        <p>
          Invest in learning technology that is tested, and it’s reliable. ReactJS is used by Facebook massively in its production systems. If it's massively used in production by a business with more than 1 billion users, it must work. With ReactJS you can create quickly complex user interfaces, <strong>easy to change</strong>, easy to debug (<strong>less bugs</strong>), and <strong>very performant</strong>.
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">The great developer</h2>
        <p>
          To become a good ReactJS developer, developers must become simply <strong>good JavaScript developers</strong>. They must learn patterns and principles, and not just specific skills of a specific framework. Why is it good? It’s easier to reuse those skills across different technologies. In other words developers can adapt faster to new technologies.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section section-bg section-truth">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3 class="text-center">Truth must be told, learning React JS and its ecosystem is not easy. There is a paradigm shift. It is more functional and declarative. Many developers are not used to it.</h3>
			</div>
		</div>
	</div>
</div>

<div class="section white-bg">
	{% include cost-learning.html %}
</div>

{% include training-formats.html %}
<!--
<div class="section grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="text-center">Learn quickly amazing JavaScript</h2>
        <a href="/" class="btn btn-default btn-lg">Check our courses</a>
			</div>
		</div>
	</div>
</div>
-->
