<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="text-center">A day in our training</h2>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-laptop" aria-hidden="true"></span> Live coding</h3>
          <p>
            Developers will be introduced to new concepts with presentations and also <strong>live examples</strong>. With live coding we can enhance interactions between trainees and instructors and provide <strong>tailor-made examples</strong> to trainees’ queries.
          </p>
        </div>
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-user-plus" aria-hidden="true"></span><span class="fa fa-user" aria-hidden="true"></span> Pair Programming</h3>
          <p>
            By working in pairs developers have to explain to their partners what they do and how, rather than just doing it. Explaining is a great way to learn and to make sure concepts are clear. Pair programming also increases <strong>motivation and productivity</strong>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-compass" aria-hidden="true"></span> Mentorship</h3>
          <p>
            Our experienced instructors will give developers <strong>individual feedback</strong> whilst developers are coding. Instructors will guide and mentor them to think of the best way to solve a given problem. Groups of 10 developers for 1 instructor on average.
          </p>
        </div>
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-code" aria-hidden="true"></span> Code</h3>
          <p>
            We are strong believers in <strong>learning by doing</strong>, and so we want developers to code as much as possible, so they can make mistakes in a safe environment. You will have time to practise everything we explain during the training.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
