<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Return of investment</h2>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center">If you own a business</h3>
          <p>
            How much are you paying to learn as you go? Let’s say you spend 16 hours (2 days) training a team of 10 engineers. In the next year, these engineers will put in approximately 20,000 hours of work for your company. If training your developers results in only a 1% performance improvement, your company will gain the equivalent of 200 hours of work  as the result of spending 2 days in training.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">If you are a developer</h3>
          <p>
            How long is it taking to learn as you go? How long are you willing to wait for that awesome job in an awesome company? Learning cutting-edge JavaScript will make you a developer in demand and it will put you on top of the market. Investing in your career is a great investment. React is creative and fun, unleash its full power and become an amazing JS developer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
