<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 >
        <a href="#1-day-advanced-react" name="1-day-advanced-react">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        1-day Advanced React Training
      </h2>
      <h4>April 28th, 2018. 1 Fore St Ave, London EC2Y 9DT</h4>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <hr />
      <h4>On completion of the 1-day React training each student will:</h4>
      <ul class="list-unstyled" style="text-align:left">
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand functional programming applied to React</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Be able to write tests for complex React applications</li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Comprehend the best performance practices in React</li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the best patterns for building reusable UIs & functionality in React</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h4 class="text-center">Curriculum</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming concepts applied to React
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Composition</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced React patterns: Reuse functionality across components
          <ul>
            <li>Higher-Order Components (HOCs)</li>
            <li>Declarative composition using the Render Callback (AKA function as children)</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Advanced React patterns II: Create more reusable components
          <ul>
            <li>Compound Components, dynamically flow data between components</li>
            <li>Patterns and use cases using "context"</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Advanced testing in React
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Performance and Rendering Optimizations (quantified with numbers)
        </li>
      </ul>
    </div>
  </div>
</div>
