<div class="container" id="curriculum">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        The most complete curriculum on the market
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-offset-3">
      <ul class="list-unstyled">
        <li>
          <a href="#cv-day-1" class="cv-list-item">
            <span class="label label-info">Day 1</span>
            ES6 & ESNEXT, React Fundamentals, React Router</a>
        </li>
        <li>
          <a href="#cv-day-2" class="cv-list-item">
            <span class="label label-info">Day 2</span>
            Forms, Authentication, Styling in React</a>
        </li>
        <li>
          <a href="#cv-day-3" class="cv-list-item">
            <span class="label label-info">Day 3</span>
            Redux, and Testing Principles</a>
        </li>
        <li>
          <a href="#cv-day-4" class="cv-list-item">
            <span class="label label-info">Day 4</span>
            Functional Programming, Advanced Redux, GraphQL, and Performance Optimizations.
          </a>
        </li>

        <li>
          <a href="#cv-day-5" class="cv-list-item">
            <span class="label label-info">Day 5</span>
            Testing in React, Functional Programming, Advanced React Patterns, Server-side Rendering
          </a>
        </li>
        <li>
          <a href="#cv-day-6" class="cv-list-item">
            <span class="label label-info">Day 6</span>
            Hackathon</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h3 class="text-center">On completion of the bootcamp each student will:</h3>
      <hr>

      <ul class="list-unstyled checks-list" style="text-align:left">
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span>
          <span> Understand the core principles and libraries of the React ecosystem:
            <code>react, react-router, redux, react-redux, graphql, apollo client</code>
          </span>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span>
          <span>Be able to develop and test complex and reliable React applications:
            <code>enzyme, jest</code>
          </span>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span>
          <span>Comprehend the best practices for front-end JavaScript:
            <code>functional programming, es6, webpack</code>
          </span>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span>
          <span> Understand the best practices and patterns for building layouts:
            <code>material-ui, semantic-ui, react-bootstrap</code>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center">Curriculum</h3>
      <hr>
      <h3 class="text-center">
        <p id="cv-day-1">
          <span class="label label-info">Day 1</span>
        </p>
        <a href="#cv-day-1">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          ES6 & ESNEXT, React Fundamentals, and React Router</a>
      </h3>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ES6 and ESNEXT workshop
          <ul>
            <li>Understanding language updates - difference between ES6, ES7, and ESNEXT</li>
            <li>Arrow Functions, Class syntax, Template strings</li>
            <li>Destructuring</li>
            <li>Default parameters, Rest operator, Spread operator</li>
            <li>Let and Const vs Var</li>
            <li>Rest + Spread properties</li>
            <li>ES6 iterators and functional programming in JS</li>
            <li>Modules</li>
            <li>Promises</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thinking in React
          <ul>
            <li>The Imperative to Declarative Shift</li>
            <li>Everything is a component</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> What is React made up of
          <ul>
            <li>Props & State</li>
            <li>One way data binding</li>
            <li>Components with and without state. Classes Vs. Functions</li>
            <li>Developer tools</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Virtual DOM and JSX
          <ul>
            <li>React Components, Elements, and Instances</li>
            <li>JSX and React.createElement</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component lifecycle
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> React Router v4<ul>
            <li>Declarative routing</li>
            <li>Implement a master-detail web application</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data management
          <ul>
            <li>Presentational Components Vs. Container Components</li>
            <li>
               Data fetching
            </li>
          </ul>
        </li>
      </ul>
      <hr>

      <h3 class="text-center">
        <p id="cv-day-2">
          <span class="label label-info">Day 2</span>
        </p>
        <a href="#cv-day-2">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          Forms, Auth, and Styling
        </a>
      </h3>
      <!-- <div class="text-center">
      <a href="https://www.youtube.com/embed/cry55pbK32k?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div> -->
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day 1 recap, build a React app from scratch on your own to consolidate:
          <ul>
            <li>React</li>
            <li>React Router</li>
            <li>Data fetching</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Forms management in React
          <ul>
            <li>
              Controlled Components vs. Uncontrolled Components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Authentication
          <ul>
            <li>
              JWT
            </li>
            <li>
              Authorization, public and private pages
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Styles
          <ul>
            <li>
              CSS Vs. JS
            </li>
            <li>
              Styled-components
            </li>
            <li>
              Component libraries: SemanticUI, MaterialUI, and React-Bootstrap
            </li>
          </ul>
        </li>
      </ul>
      <hr>

      <h3 class="text-center">
        <p id="cv-day-3">
          <span class="label label-info">Day 3</span>
        </p>
        <a href="#cv-day-3">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          Redux, and Testing Principles
        </a>
      </h3>
      <!-- <div class="text-center">
      <a href="https://www.youtube.com/embed/ngOylwBxR6g?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div> -->
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Thinking in Redux. What problem is Redux solving?</li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Introduction to functional programming
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Mutations</li>
            <li>Pure functions</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Redux Principles
          <ul>
            <li>Store, Reducers, Actions</li>
            <li>Unique source of truth</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          React-Redux: Provider and Connect
        </li>

        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Build your own version of
            <code>redux</code> and
            <code>react-redux</code> using TDD
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connecting Redux to the server
          <ul>
            <li>Fetching data from the server to Redux</li>
          </ul>
        </li>

        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Configure Redux from scratch in a React app
        </li>

        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Testing Principales
          <ul>
            <li>Build your own testing framework in JavaScript</li>
            <li>Testing Redux actions and reducers using Jest</li>
            <li>Mocking. White-box testing Vs. Black-box testing</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h3 class="text-center">
        <p id="cv-day-4">
          <span class="label label-info">Day 4</span>
        </p>
        <a href="#cv-day-4">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          Functional Programming, Advanced Redux, GraphQL, and Performance.
        </a>
      </h3>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming
          <ul>
            <li>Composing functions</li>
            <li>
              Currying, thunks and higher-order functions
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced Redux:
          <ul>
            <li>Introducing the Redux middleware</li>
            <li>Exercise, build your own Redux middleware</li>
            <li>Thunks. Actions that dispatch actions</li>
            <li>Exercise, implement loading indicators using thunks</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Time travel in Redux using Redux DevTools
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> GraphQL
          <ul>
            <li>Understand the fundamental differences between a REST API and a GraphQL API</li>
            <li>GraphQL Queries & Mutations</li>
            <li>Relay connections</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> GraphQL exercise: Integrate Apollo in a React & Redux app
          <ul>
            <li>Connect an Apollo client to a GraphQL server</li>
            <li>Implement infinite scrolling in a React app using Apollo on the client-side and a Relay connection on the server-side</li>
            <li>Update the state of your React app using mutations and Apollo client</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Performance and Rendering Optimizations (quantified with numbers)
        </li>
      </ul>
      <hr>

      <h3 class="text-center">
        <p id="cv-day-5">
          <span class="label label-info">Day 5</span>
        </p>
        <a href="#cv-day-5">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          Testing in React, Functional Programming, Advanced React, and Server-side Rendering.
        </a>
      </h3>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing in React
          <ul>
            <li>Unit Testing, Integration Testing, and Shapshot Testing</li>
            <li>Tooling: Enzyme & Jest</li>
            <li>Testing Components, Higher-Order Components, Connected Containers</li>
            <li>
              Unit tests Vs integration tests
            </li>
            <li>Code Coverage</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming
          <ul>
            <li>Composition</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced React patterns: Reuse functionality across components
          <ul>
            <li>Higher-Order Components (HOCs)</li>
            <li>Declarative composition using the Render Props (AKA function as children)</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Advanced React patterns II: Create more reusable components
          <ul>
            <li>Compound Components, dynamically flow data between components</li>
            <li>Patterns and use cases using "context"</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Server Side Rendering (SSR) with React
          <ul>
            <li>Nodejs + React + React Router</li>
            <li>
              Universal Redux
            </li>
            <li>
              GraphQL SSR
            </li>
            <li>
              Styled-componets SSR
            </li>
          </ul>
        </li>
      </ul>
      <hr>

      <h3 class="text-center">
        <p id="cv-day-6">
          <span class="label label-info">Day 6</span>
        </p>
        <a href="#cv-day-6">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          Hackathon!
        </a>
      </h3>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Last day real-world app challenge. We'll implement an app in teams from scratch
          <ol>
            <li>Create teams</li>
            <li>Discussion about architecture, features and tools</li>
            <li>Mini Hackathon! - work in teams to build apps</li>
            <li>Practice extreme programming and get support from the coaches and mentors</li>
            <li>Demo</li>
          </ol>
        </li>
      </ul>
      <hr>
    </div>
  </div>
</div>
