<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        A JavaScript stack to build production-ready applications
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>On completion of the bootcamp each student will:</h4>
      <ul class="list-unstyled" style="text-align:left">
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the core principles of React and the follwoing libraries of the React ecosystem: <code>react, react-router, graphql, apollo-client</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Learn how to write server-side code using Node and Express</li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Comprehend the paradigm shift from REST to GraphQL. Gain experience building GraphQL APIs</li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the best practices for using NOSQL databases. Gain experience using MongoDB.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center">Curriculum</h3>
      <hr>
      <h4 class="text-center"><a href="#day1" name="day1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 1, Sunday evening <strong>(optional)</strong></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ES6 and ESNEXT workshop
          <ul>
            <li>Understanding language updates - difference between ES6, ES7, and ESNEXT</li>
            <li>Arrow Functions, Class syntax, Template strings</li>
            <li>Destructuring</li>
            <li>Default parameters, Rest operator, Spread operator</li>
            <li>Let and Const vs Var</li>
            <li>Rest + Spread properties</li>
            <li>ES6 iterators and functional programming in JS</li>
            <li>Modules</li>
            <li>Promises</li>
            <li>Generators</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day2" name="day2"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 2, Monday
      </h4>
      <!-- <div class="text-center">
      <a href="https://www.youtube.com/embed/cry55pbK32k?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div> -->
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thinking in React
          <ul>
            <li>The Imperative to Declarative Shift</li>
            <li>Everything is a component</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> What is React made up of
          <ul>
            <li>Props vs. State</li>
            <li>One way data binding</li>
            <li>Components with and without state. Classes vs. Functions</li>
            <li>Developer tools</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Virtual DOM and JSX
          <ul>
            <li>React Components, Elements, and Instances</li>
            <li>JSX and React.createElement</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component lifecycle
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> React Router v4<ul>
            <li>Main components: Router and Route</li>
            <li>Authentication</li>
            <li>Implement a master-detail web application</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data management
          <ul>
            <li>Presentational Components vs. Container Components</li>
            <li>
               Data fetching
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Forms management in React
          <ul>
            <li>
              Controlled Components vs. Uncontrolled Components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Authentication
          <ul>
            <li>
              JWT
            </li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day3" name="day3"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 3, Tuesday</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day 1 recap, build a React app from scratch on your own to consolidate:
          <ul>
            <li>React</li>
            <li>React Router</li>
            <li>Data fetching</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL
          <ul>
            <li>Understand the fundamental differences between a REST API and a GraphQL API</li>
            <li>GraphQL: Query, Mutation, Fragment</li>
            <li>Relay vs. Apollo</li>
            <li>Relay connections</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL exercise: Integrate Apollo in a React & Redux app
          <ul>
            <li>Connect an Apollo client to a GraphQL server</li>
            <li>Implement infinite scrolling in a React app using Apollo on the client-side and a  Relay connection on the server-side</li>
            <li>Update the state of your React app using mutations and Apollo client</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day4" name="day4"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 4, Wednesday</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Introduction to Node
          <ul>
            <li>npm</li>
            <li>REPL</li>
            <li>global</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Express
          <ul>
            <li>Server</li>
            <li>Middleware</li>
            <li>
              Router
            </li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL API part 1
          <ul>
            <li>What makes GraphQL APIs better than REST APIs</li>
            <li>GraphQL Queries and Mutations</li>
            <li>Resolvers</li>
            <li>GraphiQL</li>
            <li>Pagination strategies and Relay Connections</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day5" name="day5"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 5, Thursday</h4>
      <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL API part 2
          <ul>
            <li>Authentication</li>
            <li>Authorization</li>
            <li>Error handling</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mongo
          <ul>
            <li>Intro to Mongo</li>
            <li>
              Difference between SQL and NOSQL
            </li>
            <li>
              Thinking in Documents
            </li>
            <li>
              Mongoose
            </li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day6" name="day6"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 6, Friday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Consolidate your new skills, hackathon day 1
          <ul>
            <li>Pitch your idea</li>
            <li>Create teams</li>
            <li>Discussion about architecture, features and tools</li>
            <li>Start coding</li>
            <li>Practice extreme programming and get support from the coaches and mentors</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day7" name="day7"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 7, Saturday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Deploy your code in the cloud
          <ol>
            <li>CDN for your static files</li>
            <li>Google Cloud Functions or Amazon Lambda Functions for your GraphQL API</li>
            <li>Mongo Atlas for your DB</li>
          </ol>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Wrapping up the hackathon
          <ol>
            <li>Finish your application with the support from the coaches and mentors</li>
            <li>Demos!</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
