<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        The most complete curriculum on the market
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>On completion of the bootcamp each student will:</h4>
      <ul class="list-unstyled" style="text-align:left">
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the core principles and libraries of the React ecosystem: <code>react, react-router, redux, react-redux, redux-saga, graphql</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Be able to develop and test complex and reliable React applications: <code>enzyme, jest</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Comprehend the best practices for front-end JavaScript: <code>functional programming, es6, webpack</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the best practices and patterns for building layouts: <code>material-ui, react-bootstrap</code></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center">Curriculum</h3>
      <hr>
      <h4 class="text-center"><a href="#day1" name="day1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 1, Sunday evening <strong>(optional)</strong></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ES6 and ESNEXT workshop
          <ul>
            <li>Understanding language updates - difference between ES6, ES7, and ESNEXT</li>
            <li>Arrow Functions, Class syntax, Template strings</li>
            <li>Destructuring</li>
            <li>Default parameters, Rest operator, Spread operator</li>
            <li>Let and Const vs Var</li>
            <li>Rest + Spread properties</li>
            <li>ES6 iterators and functional programming in JS</li>
            <li>Modules</li>
            <li>Promises</li>
            <li>Generators</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day2" name="day2"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 2, Monday
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thinking in React
          <ul>
            <li>The Imperative to Declarative Shift</li>
            <li>Everything is a component</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> What is React made up of
          <ul>
            <li>Props vs. State</li>
            <li>One way data binding</li>
            <li>Components with and without state. Classes vs. Functions</li>
            <li>Developer tools</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Virtual DOM and JSX
          <ul>
            <li>React Components, Elements, and Instances</li>
            <li>JSX and React.createElement</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component lifecycle
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> React Router v4<ul>
            <li>Main components: Router and Route</li>
            <li>Authentication</li>
            <li>Implement a master-detail web application</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data management
          <ul>
            <li>Presentational Components vs. Container Components</li>
            <li>
               Data fetching
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Forms management in React
          <ul>
            <li>
              Controlled Components vs. Uncontrolled Components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component libraries
          <ul>
            <li>
              React-Bootstrap
            </li>
            <li>
              MaterialUI
            </li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day3" name="day3"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 3, Tuesday</h4>
      <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day 1 recap: build a React app from scratch to consolidate using React, React Router and data fetching</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Thinking in Redux. What problem is Redux solving?</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Intro to functional programming
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Mutations</li>
            <li>Pure functions</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Redux Principles
          <ul>
            <li>Store, Reducers, Actions</li>
            <li>Unique source of truth</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          React-Redux: Provider and Connect
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Exercise:
          <ul>
            <li>Build your own version of <code>redux</code> and <code>react-redux</code> using TDD</li>
            <li>Given an existing React-Redux app, you will have to build some features using action creators, reducers and connected containers</li>
            <li>Configure Redux from scratch in a React app</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connecting Redux to the server
          <ul>
            <li>Fetching data from the server to Redux</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day4" name="day4"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 4, Wednesday</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing React and Redux
          <ul>
            <li>Mocking (Spy, Stub), Assertions, Snapshots</li>
            <li>Shallow, Mount</li>
            <li>Testing Components, Higher-Order Components, Connected Containers</li>
            <li>Actions, Reducers</li>
            <li>Code Coverage</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming
          <ul>
            <li>Composing functions</li>
            <li>
              Currying, thunks and higher-order functions
            </li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced Redux:
          <ul>
            <li>Introducing the Redux middleware</li>
            <li>Exercise, build your own Redux middleware</li>
            <li>Thunks. Actions that dispatch actions</li>
            <li>Exercise, implement loading indicators using thunks</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Time travel in Redux using Redux DevTools</li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day5" name="day5"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 5, Thursday</h4>
      <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Redux-Saga:
          <ul>
            <li>What is the Saga pattern</li>
            <li>How is Redux-Saga implemented: ES6 generators</li>
            <li>Refactor an app to implement <code>redux-saga</code> instead of <code>redux-thunk</code> and <code>redux-promise</code></li>
            <li>Testing with Redux-Saga</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Going isomorphic/ Universal with React
          <ul>
            <li>Nodejs + React + React Router</li>
            <li>
              Isomorphic/ Universal Redux.
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Styles
          <ul>
            <li>
              CSS vs JS
            </li>
            <li>
              Styled-components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Performance and Rendering Optimizations (quantified with numbers)
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day6" name="day6"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 6, Friday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming concepts
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Composition</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced React patterns: Reuse functionality across components
          <ul>
            <li>Higher-Order Components (HOCs)</li>
            <li>Declarative composition using the Render Callback (AKA function as children)</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Advanced React patterns II: Create more reusable components
          <ul>
            <li>Compound Components, dynamically flow data between components</li>
            <li>Patterns and use cases using "context"</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL
          <ul>
            <li>GraphQL: Query, Mutation, Fragment</li>
            <li>Relay vs. Apollo</li>
            <li>Relay connections</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL exercise: Integrate Apollo in a React & Redux app
          <ul>
            <li>Connect an Apollo client to a GraphQL server</li>
            <li>Implement infinite scrolling in a React app using Apollo on the client-side and a  Relay connection on the server-side</li>
            <li>Update the state of your React app using mutations and Apollo client</li>
          </ul>
        </li>
        <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Last day real-world app challenge. We'll implement an app in teams from scratch
          <ol>
            <li>Create teams</li>
            <li>Discussion about architecture, features and tools</li>
            <li>Start coding</li>
          </ol>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day7" name="day7"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 7, Saturday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Consolidate your new skills and get inspired
          <ol>
            <li>Kyle Simpson (Getify) JavaScript talk</li>
            <li>Continue coding in teams with the support of the coaches and mentors</li>
            <li>Demo</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
