<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        The most complete curriculum on the market
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>On completion of the bootcamp each student will:</h4>
      <ul class="list-unstyled" style="text-align:left">
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the fundamentals of JavaScript and the recent parts</li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the core principles and libraries of the React ecosystem: <code>react, react-router, redux, react-redux, graphql, apollo-client</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Be able to develop and test complex and reliable React applications: <code>enzyme, jest</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Comprehend the best practices for front-end JavaScript: <code>functional programming, es6, webpack</code></li>
        <li><span class="fa fa-check-circle" aria-hidden="true"></span> Understand the best practices and patterns for building layouts: <code>material-ui, react-bootstrap</code></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h2 class="text-center">Curriculum</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center"><a href="#day1" name="day1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 1, JavaScript ES6 by Kyle Simpson</h3>
      <div class="row text-center" style="padding-top:20px; padding-bottom: 80px">
        <div class="col-sm-6 text-center">
          <p>
            <a class="text-center" target="_blank" href="https://twitter.com/getify"><img src="https://pbs.twimg.com/profile_images/938120772932923392/O7aZNh4w_400x400.jpg" class="img-responsive img-circle" alt="Kyle Simpson"></a>
          </p>
        </div>
        <div class="col-sm-6">
          <a style="margin-top: 50px; display:inline-block;"
            href="https://www.youtube.com/embed/Th32gt1XeEI?autoplay=1"
            data-mediabox="video2"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
            <span style="text-align:left; display:inline-block">
              <i style="color:#555">See what Kyle thinks about trainings and our bootcamp.</i>
              <strong >Play video &#xbb;</strong>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ES6 and ESNEXT workshop
          <ul>
            <li>Understanding language updates - difference between ES6, ES7, and ESNEXT</li>
            <li>Arrow Functions, Class syntax, Template strings</li>
            <li>Destructuring</li>
            <li>Default parameters, Rest operator, Spread operator</li>
            <li>Let and Const vs Var</li>
            <li>Rest + Spread properties</li>
            <li>ES6 iterators and functional programming in JS</li>
            <li>Modules</li>
            <li>Promises</li>
            <li>Generators</li>
          </ul>
        </li>
      </ul>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center">Day 2 to day 6, React, Redux & GraphQL by LeanJS</h3>
      <div class="row text-center" style="padding-top:20px; padding-bottom: 80px">
        <div class="col-sm-6 text-center">
          <p>
            <a class="text-center" target="_blank" href="https://leanjs.com"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="245.639px" height="232.844px" viewBox="0 0 225.639 212.844" enable-background="new 0 0 225.639 212.844"
            	 xml:space="preserve">
          		<path d="M114.191,100.309h28.548l-4.393-17.333h-19.764L114.191,100.309z M85.772,170.355
          			c0,8.614-0.342,14.228-1.023,16.84c-0.683,2.612-1.905,4.555-3.669,5.825c-1.764,1.271-4.364,1.906-7.797,1.906
          			c-2.917,0-6.022-0.446-9.315-1.341v13.203c4.94,1.176,9.197,1.766,12.772,1.766c6.962,0,12.302-1.46,16.019-4.378
          			c3.716-2.918,6.139-6.802,7.268-11.65c1.129-4.848,1.694-12.238,1.694-22.171v-59.944H85.772V170.355z M121.054,73.117h14.823
          			l-7.412-29.851L121.054,73.117z M172.935,100.309h24.979l-24.979-54.304V100.309z M198.936,39.186
          			C178.185,15.192,147.45,0,113.149,0C78.972,0,48.334,15.083,27.587,38.928c0,4.726,0.136,51.169,0.136,51.169h24.431v10.133
          			H15.676c0,0,0.178-45.131,0-44.832C5.716,72.17,0,91.736,0,112.63c0,71.979,60.175,100.276,60.114,100.214
          			c0.565-1.973,0-182.724,0-182.724h40.352v10.133H72.192v19.17h21.96v9.859h-21.96v21.088h28.823v9.938h1.921l19.764-69.915h13.45
          			l18.941,69.915h7.686V30.395h14.274l21.96,48.474C199.012,78.869,198.932,39.356,198.936,39.186z M225.557,99.67
          			c-1.901-16.525-7.396-31.962-15.687-45.519c-0.483-0.791-0.976-1.573-0.976-1.573l0.549,47.731h16.195L225.557,99.67z
          			 M166.325,157.082c-3.529-2.26-8.563-4.636-15.102-7.131c-7.669-2.918-12.784-5.429-15.348-7.529
          			c-2.564-2.101-3.847-4.921-3.847-8.463c0-3.21,1.141-6.055,3.423-8.533c2.281-2.478,5.516-3.718,9.703-3.718
          			c4.516,0,8.079,1.218,10.69,3.654c2.611,2.436,4.716,6.206,6.315,11.314l13.619-4.73c-4.328-15.534-14.325-23.301-29.99-23.301
          			c-8.845,0-15.937,2.612-21.275,7.838c-5.34,5.225-8.009,11.674-8.009,19.346c0,5.037,1.199,9.532,3.599,13.486
          			c2.398,3.954,5.304,6.943,8.715,8.967c3.41,2.024,8.973,4.496,16.688,7.414c7.292,2.777,11.854,5.39,13.689,7.837
          			c1.835,2.448,2.752,5.108,2.752,7.979c0,3.907-1.329,7.191-3.986,9.85c-2.658,2.66-6.552,3.989-11.679,3.989
          			c-10.491,0-16.983-5.931-19.477-17.793l-14.254,4.024c4.234,17.981,15.242,26.973,33.024,26.973
          			c10.303,0,18.313-2.848,24.027-8.544c5.716-5.695,8.574-12.591,8.574-20.688c0-4.989-1.094-9.379-3.281-13.168
          			S169.853,159.341,166.325,157.082z"/>
            </svg></a>
          </p>
        </div>
        <div class="col-sm-6">
          <a style="margin-top: 50px; display:inline-block;"
            href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
            data-mediabox="video2"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
            <span style="text-align:left; display:inline-block">
              <i style="color:#555">Meet the LeanJS coaches and see what trainees think about LeanJS trainings.</i>
              <strong >Play video &#xbb;</strong>
            </span>
          </a>
        </div>
      </div>


      <h4 class="text-center"><a href="#day2" name="day2"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 2, Monday
      </h4>
      <!-- <div class="text-center">
      <a href="https://www.youtube.com/embed/cry55pbK32k?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div> -->
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thinking in React
          <ul>
            <li>The Imperative to Declarative Shift</li>
            <li>Everything is a component</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> What is React made up of
          <ul>
            <li>Props & State</li>
            <li>One way data binding</li>
            <li>Components with and without state. Classes Vs. Functions</li>
            <li>Developer tools</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Virtual DOM and JSX
          <ul>
            <li>React Components, Elements, and Instances</li>
            <li>JSX and React.createElement</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component lifecycle
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> React Router v4<ul>
            <li>Declarative routing</li>
            <li>Implement a master-detail web application</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data management
          <ul>
            <li>Presentational Components Vs. Container Components</li>
            <li>
               Data fetching
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Forms management in React
          <ul>
            <li>
              Controlled Components vs. Uncontrolled Components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Authentication
          <ul>
            <li>
              JWT
            </li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day3" name="day3"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 3, Tuesday</h4>
      <!-- <div class="text-center">
      <a href="https://www.youtube.com/embed/ngOylwBxR6g?autoplay=1"
        data-mediabox="video1"
        data-iframe="true"
        data-width="530"
        data-height="315"
        data-title="ReactJS Academy">
        <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
        <br>
        <strong style="color:white">Play video &#xbb;</strong>
      </a>
    </div> -->
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day 1 recap, build a React app from scratch on your own to consolidate:
          <ul>
            <li>React</li>
            <li>React Router</li>
            <li>Data fetching</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Thinking in Redux. What problem is Redux solving?</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Intro to functional programming
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Mutations</li>
            <li>Pure functions</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Redux Principles
          <ul>
            <li>Store, Reducers, Actions</li>
            <li>Unique source of truth</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          React-Redux: Provider and Connect
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Exercise:
          <ul>
            <li>Build your own version of <code>redux</code> and <code>react-redux</code> using TDD</li>
            <li>Given an existing React-Redux app, you will have to build some features using action creators, reducers and connected containers</li>
            <li>Configure Redux from scratch in a React app</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connecting Redux to the server
          <ul>
            <li>Fetching data from the server to Redux</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day4" name="day4"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 4, Wednesday</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing in JavaScript
          <ul>
            <li>
              Implement your own test framework
            </li>
            <li>Mocking in JavaScript using Jest</li>
            <li>Best practices writing unit tests</li>
            <li>Testing in Redux</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming
          <ul>
            <li>Composing functions</li>
            <li>
              Currying, thunks and higher-order functions
            </li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced Redux:
          <ul>
            <li>Introducing the Redux middleware</li>
            <li>Exercise, build your own Redux middleware</li>
            <li>Thunks. Actions that dispatch actions</li>
            <li>Exercise, implement loading indicators using thunks</li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Time travel in Redux using Redux DevTools</li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day5" name="day5"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 5, Thursday</h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Server Side Rendering (SSR) with React
          <ul>
            <li>Nodejs + React + React Router</li>
            <li>
              Universal Redux
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Styles
          <ul>
            <li>
              CSS Vs. JS
            </li>
            <li>
              Styled-components
            </li>
            <li>
              Grid system
            </li>
            <li>
              Component libraries: SemanticUI, MaterialUI, and React-Bootstrap
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component libraries
          <ul>
            <li>
              React-Bootstrap
            </li>
            <li>
              Material UI
            </li>
            <li>
              Semantic UI
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing React
          <ul>
            <li>Unit Testing, Integration Testing, and Shapshot Testing</li>
            <li>Tooling: Enzyme & Jest</li>
            <li>Testing Components, Higher-Order Components, Connected Containers</li>
            <li>Code Coverage</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Performance and Rendering Optimizations (quantified with numbers)
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day6" name="day6"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 6, Friday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Functional programming concepts
          <ul>
            <li>Data and behaviour</li>
            <li>Data in, data out</li>
            <li>Composition</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced React patterns: Reuse functionality across components
          <ul>
            <li>Higher-Order Components (HOCs)</li>
            <li>Declarative composition using the Render Props (AKA function as children)</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Advanced React patterns II: Create more reusable components
          <ul>
            <li>Compound Components, dynamically flow data between components</li>
            <li>Patterns and use cases using "context"</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL
          <ul>
            <li>Understand the fundamental differences between a REST API and a GraphQL API</li>
            <li>GraphQL Queries & Mutations</li>
            <li>Relay connections</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL exercise: Integrate Apollo in a React & Redux app
          <ul>
            <li>Connect an Apollo client to a GraphQL server</li>
            <li>Implement infinite scrolling in a React app using Apollo on the client-side and a  Relay connection on the server-side</li>
            <li>Update the state of your React app using mutations and Apollo client</li>
          </ul>
        </li>
        <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Last day real-world app challenge. We'll implement an app in teams from scratch
          <ol>
            <li>Create teams</li>
            <li>Discussion about architecture, features and tools</li>
            <li>Start coding</li>
          </ol>
        </li>
      </ul>
      <hr>
      <h4 class="text-center"><a href="#day7" name="day7"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a> Day 7, Saturday</code></h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Consolidate your new skills and get inspired
          <ol>
            <li>Mini Hackathon! - work in teams to build apps</li>
            <li>Practice extreme programming and get support from the coaches and mentors</li>
            <li>Demo</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="col-sm-12">
      <h2 class="text-center">The LeanJS coaches</h2>
      <div class="row text-center" style="padding-top:20px; padding-bottom: 80px">
        <div class="col-sm-4 text-center">
          <p>
            <a class="text-center" target="_blank" href="https://github.com/alexlbr"><img src="/assets/img/alex.jpg" class="img-responsive img-circle" alt="Alex Lobera"></a>
          </p>
          <p>
            <h4><a target="_blank" href="https://github.com/alexlbr">Alex Lobera</a></h4>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <p>
            <a target="_blank" href="https://github.com/ric9176"><img src="https://s3-eu-west-1.amazonaws.com/masters-directory/richard-upmentoring.jpg" class="img-responsive img-circle" alt="Richard Moss"></a>
          </p>
          <p>
            <h4><a target="_blank" href="https://github.com/ric9176">Richard Moss</a></h4>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <a style="margin-top: 50px; display:inline-block;"
            href="https://www.youtube.com/embed/2-IPT7Plsfc?autoplay=1"
            data-mediabox="video2"
            data-iframe="true"
            data-width="530"
            data-height="315"
            data-title="ReactJS Academy">
            <span class="fa fa-youtube-play fa-7" aria-hidden="true"></span>
            <span style="text-align:left; display:inline-block">
              <i style="color:#555">Meet the LeanJS coaches and see what trainees think about LeanJS trainings.</i>
              <strong >Play video &#xbb;</strong>
            </span>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
