<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        <a href="#react-part-time" name="react-part-time">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        React-part time course London
      </h2>
      <h3 class="text-center">
        The most complete curriculum on the market
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>On completion of the React part-time course each student will:</h4>
      <ul class="list-unstyled" style="text-align:left">
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span> Understand the core principles and libraries of the React ecosystem:
          <code>react, react-router, redux, react-redux, graphql</code>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span> Be able to develop and test complex and reliable React applications:
          <code>enzyme, jest</code>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span> Comprehend the best practices for front-end JavaScript:
          <code>functional programming, es6, webpack</code>
        </li>
        <li>
          <span class="fa fa-check-circle" aria-hidden="true"></span> Understand the best practices and patterns for building layouts:
          <code>material-ui, react-bootstrap, semantic-ui</code>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
      <h3 class="text-center">Curriculum - 12 sessions</h3>
      <hr>
      <h4 class="text-center">
        <a href="#session1" name="session1">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday Oct 2nd, session 1
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ES6 & ESNEXT Workshop
          <ul>
            <li>Understanding language updates - difference between ES6, ES7, and ESNEXT</li>
            <li>Arrow Functions, Class syntax, Template strings</li>
            <li>Destructuring</li>
            <li>Default parameters, Rest operator, Spread operator</li>
            <li>Let and Const vs Var</li>
            <li>Rest + Spread properties</li>
            <li>ES6 iterators and functional programming in JS</li>
            <li>Modules</li>
            <li>Promises</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h4 class="text-center">
        <a href="#session2" name="session2">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Oct 4th, session 2
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thinking in React
          <ul>
            <li>The Imperative to Declarative Shift</li>
            <li>Everything is a component</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> What is React made up of
          <ul>
            <li>Props & State</li>
            <li>One way data binding</li>
            <li>Components with and without state. Classes Vs. Functions</li>
            <li>Developer tools</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Virtual DOM and JSX
          <ul>
            <li>React Components, Elements, and Instances</li>
            <li>JSX and React.createElement</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session3" name="session3">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday Oct 9th, session 3
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> React Router v4
          <ul>
            <li>Declarative routing</li>
            <li>Implement a master-detail web application</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Component lifecycle
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data management
          <ul>
            <li>
              Data fetching
            </li>
            <li>Presentational Components Vs. Container Components</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session4" name="session4">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Oct 11th, session 4
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Forms management in React
          <ul>
            <li>
              Controlled Components Vs. Uncontrolled Components
            </li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Authentication
          <ul>
            <li>
              JWT
            </li>
            <li>
              Authorization, public and private pages
            </li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session5" name="session5">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday Oct 16th, session 5
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> First React Project
          <ul>
            <li>Implement a React app from scratch</li>
            <li>Consolidate learning by building</li>
            <li>Guidance, mentoring and feedback during build</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session6" name="session6">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Oct 18th, session 6
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Styling in React
          <ul>
            <li>
              CSS Vs. JS
            </li>
            <li>
              Styled-components
            </li>
            <li>
              Component libraries: SemanticUI, MaterialUI, Rebass, and React-Bootstrap
            </li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session7" name="session7">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday October 23rd, session 7
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Redux Principles
          <ul>
            <li>Store, Reducers, Actions</li>
            <li>Unique source of truth</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          React-Redux: Provider and Connect
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Exercise:
          <ul>
            <li>Build your own version of
              <code>redux</code> and
              <code>react-redux</code> using TDD</li>
            <li>Given an existing React-Redux app, you will have to build some features using action creators, reducers and connected
              containers</li>
            <li>Configure Redux from scratch in a React app</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session8" name="session8">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Oct 25th, session 8
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing in JavaScript
          <ul>
            <li>Build your own testing framework</li>
            <li>Testing Redux Actions and Reducers using Jest</li>
            <li>Mocking. White-box testing Vs. Black-box testing</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session9" name="session9">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday October 30th, session 9
      </h4>


      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Testing in React
          <ul>
            <li>Enzyme: shallow, mount, render</li>
            <li>Snapshots</li>
            <li>Testing components, Higher-Order components, connected containers</li>
            <li>Mocking components</li>
            <li>Code Coverage</li>
          </ul>
        </li>
      </ul>


      <hr>
      <h4 class="text-center">
        <a href="#session10" name="session10">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Nov 1st, session 10
      </h4>

      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Advanced React patterns: Reuse functionality across components
          <ul>
            <li>Higher-Order Components (HOCs)</li>
            <li>Declarative composition using the Render Props (AKA function as children)</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session11" name="session11">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Tuesday Nov 6th, session 11
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL
          <ul>
            <li>GraphQL Queries & Mutations</li>
            <li>Relay connections</li>
          </ul>
        </li>
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>GraphQL exercise: Integrate Apollo in a React & Redux app
          <ul>
            <li>Connect an Apollo client to a GraphQL server</li>
            <li>Implement infinite scrolling in a React app using Apollo on the client-side and a Relay connection on the server-side</li>
            <li>Update the state of your React app using mutations and Apollo client</li>
          </ul>
        </li>
      </ul>
      <hr>

      <h4 class="text-center">
        <a href="#session12" name="session12">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Thursday Nov 8th, session 12
      </h4>
      <ul class="list-unstyled">
        <li>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Final Project
          <ul>
            <li>Implement a React app from scratch</li>
            <li>Make guided design decisions based on the use case</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
