<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <h2 class="text-center">
        <a href="#faqs" name="faqs">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        FAQs
      </h2>
      <ul class="list-unstyled">
        <li>
          <strong>Why should I learn React?</strong>
          <p>
            React leverages all the power of JavaScript, specially the modern ES6 & ESNEXT JavaScript. This is great since developers don’t need to learn a specific way of doing of a specific framework but rather they learn patterns and principles that can be applied to other frameworks and even to other languages.
          </p>
        </li>
        <li>
          <strong>How much JavaScript do developers need to know to attend this training?</strong>
          <p>
          To be a good React developer, developers must be good JavaScript developers. We recommend to have some experience with modern ES6 JavaScript before attending any of our React training. That being said, we always start our training with an ES6 workshop to make sure you have a good JavaScript foundation to leverage React.
          </p>
        </li>
        <li>
          <strong>Do developers need to have some experience in other JavaScript frameworks to attend this training?</strong>
          <p>
          React is a paradigm shift, it takes a Functional approach rather than Object Oriented. It is declarative instead of imperative. Most traditional frameworks don't operate in these new paradigms, therefore knowking other front-end frameworks is not an advantage.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
