<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <ul class="list-unstyled list-inline">
        <li>
            <img src="/assets/img/logos/abinbev.png" style="margin-right:-15px" alt="abinbev">
        </li>
        <li>
            <img src="/assets/img/logos/asos.png" style="width: 100px;margin-top:40px" alt="ASOS">
        </li>
        <li>
            <img src="/assets/img/logos/ft.png" alt="financial times">
        </li>
        <li>
          <img src="/assets/img/logos/blockchain.png" alt="blockchain">
        </li>
        <li>
            <img src="/assets/img/logos/trainline.png" alt="the trainline">
        </li>
      </ul>
    </div>
  </div>
</div>
