<ul class="list-unstyled list-inline">
  <li>
    <a href="http://www.meetup.com/JavaScript-London/" target="_blank" class="btn btn-default">London</a>
  </li>
  <li>
    <a href="http://www.meetup.com/JavaScript-Berlin/" target="_blank" class="btn btn-default">Berlin</a>
  </li>
  <li>
    <a href="http://www.meetup.com/JavaScript-Paris/" target="_blank" class="btn btn-default">Paris</a>
  </li>
  <li>
    <a href="http://www.meetup.com/JavaScript-Barcelona/" target="_blank" class="btn btn-default">Barcelona</a>
  </li>
  <li>
    <a href="http://www.meetup.com/JavaScript-Amsterdam/" target="_blank" class="btn btn-default">Amsterdam</a>
  </li>
  <li>
    <a href="http://www.meetup.com/JavaScript-Lisbon/" target="_blank" class="btn btn-default">Lisbon</a>
  </li>
</ul>
