<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <h2 class="text-center">
        <a href="#learn-to-code-london" name="learn-to-code-london">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        Prerequisites
      </h2>
      <p>
        This course is designed for profiessional developers who want to change their technology stack and learn modern front-end
        technologies. We recommend you to have at least 1 year of professional experience as a developer to attend this course.
        Please read our
        <a href="#faqs">FAQs</a> or
        <a href="mailto:hello@reactjs.academy">contact us</a> if you have any questions.
      </p>
      <h2 class="text-center">
        Learn to code
      </h2>
      <p>
        This course is not designed for people who want to learn to code. If you want to learn to code we recommend you to contact
        our partner in London
        <a href="https://www.makersacademy.com/" target="_blank">MakersAcademy</a>. You'll get £250 discount using the reference
        <em>ReactJS Academy</em>.
      </p>
      <p class="text-center">
        <a href="https://www.makersacademy.com/" target="_blank">
          <img src="/assets/img/logos/ma-wordmark-red.png">
        </a>
      </p>
    </div>
  </div>
</div>
