<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h2 class="text-center">Request your discount at <a href="mailto:hello@reactjs.academy?subject=Scholarship or discounts for a bootcamp">hello@reactjs.academy</a>. We'll send you a voucher if you are <a href="#scholarship">eligible for it</a>.</h2>
      <p>
        <br><a href="mailto:hello@reactjs.academy?subject=Scholarship or discounts for a bootcamp" class="btn btn-default btn-lg">Request a voucher</a>
      </p>
    </div>
  </div>
</div>
