
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 ">
      <h2 class="anchor-link text-center"><a href="#scholarship" name="scholarship"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>Special discounts</h2>
      <p>
        We're aware that our industry is somehow exclusive and not diverse enough and so some groups are excluded. Therefore we are delighted to support some groups with a 20% discount. See the full list below with all the discounts we have available. <strong>Maximum discount is 50%</strong>:
      </p>
      <ul class="list-unstyled" style="text-align:left">
        <li>* <span class="label label-info">20% discount</span> Full-time students and unemployed people.</li>
        <li>* <span class="label label-info">10% discount</span> If you buy 3 or more bootcamps.</li>
      </ul>
      <p>* <strong>You can have more than 1 discount. Maximum discount is 50%, including other promotional codes</strong>. Apply at <a href="mailto:hello@reactjs.academy?subject=I want to apply for a scholarship ">hello@reactjs.academy</a></p>
    </div>
  </div>
</div>
