<form class="more-info-form become-a-coach-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Your Name!">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Your best email">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="why-coach">Why do you want to become a coach?</label>
      <textarea class="form-control" id="why-coach" placeholder="Because..."></textarea>
      <input type="hidden" name="mailing-list-submitted" value="1" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12">
      <p>
        We are very serious about your privacy and the safety of your information... Not convinced? Check out our <a href="/privacy-policy" target="_blank">privacy policy</a>.
      </p>
      <button type="submit" class="btn btn-info btn-block btn-lg">{{ include.buttonText | default: "Let's start teaching!" }}</button>
      <p>
        <br>Need to unsubscribe? contact us at <a href="mailto:unsubscribe@reactjs.academy">unsubscribe@reactjs.academy</a>
      </p>
    </div>
  </div>
</form>
