<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">
                Styling in React workshop
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h4>On completion of the evening workshop each student will:</h4>
            <ul class="list-unstyled" style="text-align:left">
                <li><span class="fa fa-check-circle" aria-hidden="true"></span>
                    Understand different approaches to styling in React
                    </li>

                <li><span class="fa fa-check-circle" aria-hidden="true"></span>
                    Understand styled-components and be able to use them</li>
            </ul>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 react-js-curriculum">
            <h3 class="text-center">Evening Styling in React Workshop Curriculum</h3>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    SASS implementation
<ul><li>
    add SASS support to your Create React App</li>
    <li>understand the use cases of this approach</li>
</ul>
                </li>
                <li>                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

                    styled-components
<ul>
<li>
    add styled-components to your application</li>
    <li>refactor your components into styled-components</li>
</ul>
        </div>
    </div>
</div>
