<!--
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="row text-center">
        <div class="col-lg-6 text-center">
          <h3>Head teacher</h3>
          <p>
            <a class="text-center" target="_blank" href="http://alexlobera.com/"><img src="/assets/img/alex.jpg" class="img-responsive img-circle" alt="Alex Lobera"></a>
          </p>
          <p>
            <h4><a target="_blank" href="http://alexlobera.com/">Alex Lobera</a></h4>
          </p>
        </div>
        <div class="col-lg-6 text-center">
          <h3>Instructor</h3>
          <p>
            <a target="_blank" href="https://uk.linkedin.com/in/markrivelles"><img src="/assets/img/mark.jpg" class="img-responsive img-circle" alt="Mark Rivelles"></a>
          </p>
          <p>
            <h4><a target="_blank" href="https://uk.linkedin.com/in/markrivelles">Marc Rivelles</a></h4>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
