<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2 class="text-center">Meet the coaches</h2>
      <div class="row text-center" style="padding-top:20px">
        <div class="col-lg-6 text-center">
          <p>
            <a class="text-center" target="_blank" href="https://github.com/alexlbr"><img src="/assets/img/alex.jpg" class="img-responsive img-circle" alt="Alex Lobera"></a>
          </p>
          <p>
            <h4><a target="_blank" href="https://github.com/alexlbr">Alex Lobera</a></h4>
          </p>
        </div>
        <div class="col-lg-6 text-center">
          <p>
            <a target="_blank" href="https://github.com/ric9176"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/01c/2c0/150bed0.jpg" class="img-responsive img-circle" alt="Mark Rivelles"></a>
          </p>
          <p>
            <h4><a target="_blank" href="https://github.com/ric9176">Richard Moss</a></h4>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
