<div class="section">
	<div class="container">
		<div class="row">
      <div class="col-md-3">
        <blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">Good geeky times <a href="https://twitter.com/ZalandoTech?ref_src=twsrc%5Etfw">@ZalandoTech</a> while playing a bit with <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a>. Thanks <a href="https://twitter.com/alex_lobera?ref_src=twsrc%5Etfw">@alex_lobera</a> <a href="https://twitter.com/reactjsacademy?ref_src=twsrc%5Etfw">@reactjsacademy</a> <a href="https://t.co/v1MYykyaTY">pic.twitter.com/v1MYykyaTY</a></p>&mdash; Andreea Lungulescu (@Andreea_BBO) <a href="https://twitter.com/Andreea_BBO/status/839908726157029382?ref_src=twsrc%5Etfw">9 de marzo de 2017</a></blockquote>
      </div>
			<div class="col-md-3">
        <blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">Enjoyed first dive into <a href="https://twitter.com/hashtag/ReactJS?src=hash&amp;ref_src=twsrc%5Etfw">#ReactJS</a> tonight with <a href="https://twitter.com/reactjsacademy?ref_src=twsrc%5Etfw">@reactjsacademy</a> <a href="https://t.co/rE3PZSAI16">pic.twitter.com/rE3PZSAI16</a></p>&mdash; David Wilford (@davidwilford) <a href="https://twitter.com/davidwilford/status/859507150649008132?ref_src=twsrc%5Etfw">2 de mayo de 2017</a></blockquote>
			</div>
			<div class="col-md-3">
        <blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">The sun waking up the city on my walk to round 2 of <a href="https://twitter.com/reactjsacademy?ref_src=twsrc%5Etfw">@reactjsacademy</a> <a href="https://t.co/T1jir6zryL">pic.twitter.com/T1jir6zryL</a></p>&mdash; Andru Dunn (@drudunn) <a href="https://twitter.com/drudunn/status/850618836508434433?ref_src=twsrc%5Etfw">8 de abril de 2017</a></blockquote>
			</div>
      <div class="col-md-3">
        <blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">Amazing venue at <a href="https://twitter.com/MozillaParis?ref_src=twsrc%5Etfw">@MozillaParis</a> for an amazing advanced <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a> workshop with <a href="https://twitter.com/alex_lobera?ref_src=twsrc%5Etfw">@alex_lobera</a>. Thanks for the reviews <a href="https://t.co/jC6UjYMxti">https://t.co/jC6UjYMxti</a> <a href="https://t.co/Rru1nJ9K3A">pic.twitter.com/Rru1nJ9K3A</a></p>&mdash; reactjs.academy (@reactjsacademy) <a href="https://twitter.com/reactjsacademy/status/839507299576197120?ref_src=twsrc%5Etfw">8 de marzo de 2017</a></blockquote>
      </div>
    </div>
	</div>
</div>
