<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="text-center">Why attend</h2>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-crosshairs" aria-hidden="true"></span> Focus, no distractions</h3>
          <p>
            Focus away from distractions, <strong>accelerate your learning</strong>. One week to focus on just one thing, learning React. Like-minded people, experienced instructors, comprehensive curriculum, and an amazing place.
          </p>
        </div>
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-code" aria-hidden="true"></span> Learn by doing</h3>
          <p>
            Learn by doing, move fast and break things. We want you to code as much as possible, and make mistakes in a safe environment. You will <strong>practice everything</strong> we explain in our project-based hands-on training.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-compass" aria-hidden="true"></span> Mentorship</h3>
          <p>
            Our experienced instructors will do <strong>code reviews</strong> and they will give you <strong>individual feedback</strong>. Instructors will guide you to think of the best way to solve a problem.
          </p>
        </div>
        <div class="col-sm-6">
          <h3 class="text-center"><span class="fa fa-user-plus" aria-hidden="true"></span><span class="fa fa-user" aria-hidden="true"></span> Collaborative environment</h3>
          <p>
            You will work in <strong>teams and pairs</strong>. You will have to explain what you do and how, rather than just doing. Explaining is a great way to learn and consolidate new skills.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
